{% extends "pages/base.html" %}
{% block page_title %}Akutní bolesti{% endblock %}
{% block content %}
  <h1>Akutní bolest</h1>
  <h2>Rychlá terapie při akutních problémech</h2>

  <h3>Jak vzniká akutní bolest?</h3>
  <p>
    tj. úraz nebo dlouhodobé přetěžování kloubů a šlach
  </p>

  <h4>Případ ÚRAZ</h4>
  <ul>
    <li>
      fraktury končetin, na/utržení vazivového aparátu nebo praskliny ve svalech
    </li>
    <li>
      např. po zvedání něčeho těžkého, pádem, při sportu, ...
    </li>
  </ul>
  <h4>Případ dlouhodobé PŘETĚŽOVÁNÍ </h4>
  <ul>
    <li>
      obvykle po rychlém pohybu, rychlou změnou směru pohybu, působením velké síly nebo opakovanou vysokou zátěží (sport)
    </li>
  </ul>

  <h4>Případ BLOKÁDY páteře</h4>
  <p>
    funkčních blokád páteře a kloubů (“uskříplý” nerv) <br> = nutno odstranit v co nejkratší době
  </p>

  <h3>Co doprovází akutní problém?</h3>
  <p>
    často v oblasti vzniká <strong>otok</strong> a bolest jako ochrana před ještě větším poškozením (výron kotníku, syndrom bolestivého ramene) v oblasti je omezený pohyb, vyšší teplota a otok i malý pohyb je <strong>velmi bolestivý</strong>
  </p>

  <h3>Jak si můžete pomoci sami </h3>
  <p>
    aneb správné zácházení s termikou těla jakmile se vám něco takového stane, oblast <strong>IHNED zaledujte</strong> led aplikujte pouze v rámci hodin, rozhodně ne další den, kdy naopak <strong>aplikujte teplo</strong>
  </p>

  <h3>Co může udělat s akutním problémem fyzioterapeut?</h3>
  <ul>
    <li><strong>laser - ultrazvuk - měkké techniky - aplikace horké role</strong></li>
    <li>lze aplikovat terapii laserem - výsledkem je značné zmírnění otoku a bolestivosti oblasti <strong>do několika hodin</strong></li>
    <li>
      následně <strong>odstranění příčiny bolesti</strong> (odstranění funkční blokády páteře, mobilizace páteře a kloubů) a <strong>cvičení na neurofyziologickém podkladě</strong>, které pacientovi pomůže a zároveň působí jako prevence, aby se problém neopakoval
    </li>
  </ul>
{% endblock %}

{% block features %}
  {% include "snippets/feature_sport.html" %}
  {% include "snippets/feature_chronicke.html" %}
  {% include "snippets/feature_deti.html" %}
{% endblock %}
