{% extends "base.html" %}
{% load static %}

{% block page_content %}
<section class="container" style="position: relative">
  <img class="michaela" src="{% static "img/michaela.png" %}" alt="Michaela" />
  {% block content %}{% endblock %}
</section>

<section class="container">
  {% include "snippets/objednat.html" %}
</section>

{% block testimonials %}
  <section id="testimonials">
    <div class="container">
      <div class="testimonial">
        {% block testimonial %}
        <p>Již několik let mě bolela záda tak, že jsem se někdy nemohla ani narovnat. Když jsem byla u lékaře, nevěděl od čeho by to mohlo být. </p>
        <span class="author">— Věra Pohlová</span>
        {% endblock %}
      </div>
    </div>
  </section>
{% endblock %}

{% block features_off %}
<section class="features">
  {% block features %}{% endblock %}
</section>
{% endblock %}


{% include "snippets/contact-with-form.html" %}

{% endblock %}
