{% extends "pages/base.html" %}
{% block page_title %}Ceník služeb FYZIOTERAPIE ETHERA–MED s.r.o.{% endblock %}
{% block content %}
  <h1>Ceník služeb</h1>
  {% comment %}
  <p>
    Zahájení dlouhodobé spolupráce s klientem předchází <strong>kineziologický rozbor a diagnostika</strong> (rozhovor s klientem a “<i>vstupní prohlídka</i>”).
  </p>
  {% endcomment %}
  <p>
    Dárkové poukazy vám velice rádi vystavíme na libovolnou kombinaci služeb dle našeho ceníku nebo platné akce.
  </p>

  <h3>Laser</h3>
  <table class="pricing-table">
    <thead>
      <tr>
        <th>Úkon</th>
        <th class="price">Cena</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Úkon">
          <h6>Vysokorychlostní Laser 18w</h6>
          Do 10min.
        </td>
        <td class="price" data-label="Cena">350,- Kč</td>
      </tr>
      <tr>
        <td data-label="Úkon">
          <h6>Ošetření pooperačních jizev</h6>
          Laserem + Měkké techniky + Dechová cvičení 45min
        </td>
        <td class="price" data-label="Cena">1000,- Kč</td>
      </tr>
      <tr>
        <td data-label="Úkon">
          <h6>Terapie</h6>
          Ultrazvukem + Laser + Elektrostimulace + Kinesiotaping 50min
        </td>
        <td class="price" data-label="Cena">1500,- Kč</td>
      </tr>
    </tbody>
  </table>


<!--
  <h3>BALÍČEK Standard</h3>
  <p>
    <strong>60 minut</strong>
  </p>
  <h4>Obsahuje:</h4>
  <ul>
    <li><strong>Ambulantní odstranění</strong> blokád páteře a kloubů</li>
    <li><strong>Manuální fyzioterapie</strong> (metody mobilizace, terapie podle Brüggera, dynamická neuromuskulární stimulace, dle Mojžíšové, Levitta atd.)</li>
    <li><strong>Individuální terapeutické cvičení</strong></li>
  </ul>
  <table class="pricing-table">
      <thead>
        <tr>
          <th>Počet terapií</th>
          <th class="price">Cena</th>
          <th class="price">Cena za 1 terapii</th>
          <th class="price">Ušetříte</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="Počet terapií">1 terapie</td>
          <td class="price" data-label="Cena">840,- Kč</td>
          <td class="price" data-label="Cena za 1 terapii">840,- Kč</td>
          <td class="price" data-label="Ušetříte">0,- Kč</td>
        </tr>
        <tr>
          <td data-label="Počet terapií">4 terapie</td>
          <td class="price" data-label="Cena">3 160,- Kč</td>
          <td class="price" data-label="Cena za 1 terapii">790,- Kč</td>
          <td class="price" data-label="Ušetříte">200,- Kč</td>
        </tr>
        <tr>
          <td data-label="Počet terapií">8 terapií</td>
          <td class="price" data-label="Cena">6 000,- Kč</td>
          <td class="price" data-label="Cena za 1 terapii">750,- Kč</td>
          <td class="price" data-label="Ušetříte">720,- Kč</td>
        </tr>
        <tr>
          <td data-label="Počet terapií">12 terapií</td>
          <td class="price" data-label="Cena">8 400,- Kč</td>
          <td class="price" data-label="Cena za 1 terapii">700,- Kč</td>
          <td class="price" data-label="Ušetříte">1 680,- Kč</td>
        </tr>
        <tr>
          <td data-label="Počet terapií">20 terapií (a více)</td>
          <td class="price" data-label="Cena">13 600,- Kč</td>
          <td class="price" data-label="Cena za 1 terapii">680,- Kč</td>
          <td class="price" data-label="Ušetříte">od 3200,- Kč</td>
        </tr>
    </tbody>
  </table> -->

  <h3>BALÍČEK VIP</h3>
  <p>
    <strong>60 minut</strong>
  </p>
  <h4>Obsahuje:</h4>
  <ul>
    <li><strong>Ambulantní odstranění</strong> blokád páteře a kloubů</li>
    <li><strong>Manuální fyzioterapie</strong> (metody mobilizace, terapie podle Brüggera, dynamická neuromuskulární stimulace, dle Mojžíšové, Levitta atd.)</li>
    <li><strong>Individuální terapeutické cvičení</strong>
      <h5>Skladbu terapie určuje fyzioterapeut:</h5>
      <ul>
        <li>cvičení najiných balančních pomůckách (Posturomed, Propriomed, Flow-In, BOSU ad.)</li>
        <li>cvičení s Therabandem</li>
        <li>vibrační hloubková masáž</li>
        <li>aplikace funkčního tejpu (kinesiotape)</li>
        <li>ultrazvukové aplikace</li>
        <li>elektroléčba</li>
      </ul>
    </li>
  </ul>
  <table class="pricing-table">
      <thead>
        <tr>
          <th>Počet terapií</th>
          <th class="price">Cena</th>
          <th class="price">Cena za 1 terapii</th>
          <th class="price">Ušetříte</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="Počet terapií">1 terapie</td>
          <td class="price" data-label="Cena">1 600,- Kč</td>
          <td class="price" data-label="Cena za 1 terapii">1 600,- Kč</td>
          <td class="price" data-label="Ušetříte">0,- Kč</td>
        </tr>
        <tr>
          <td data-label="Počet terapií">4 terapie</td>
          <td class="price" data-label="Cena">6 200,- Kč</td>
          <td class="price" data-label="Cena za 1 terapii">1 550,- Kč</td>
          <td class="price" data-label="Ušetříte">200,- Kč</td>
        </tr>
        <tr>
          <td data-label="Počet terapií">8 terapií</td>
          <td class="price" data-label="Cena">11 200,- Kč</td>
          <td class="price" data-label="Cena za 1 terapii">1 4000,- Kč</td>
          <td class="price" data-label="Ušetříte">1 600,- Kč</td>
        </tr>
        <tr>
          <td data-label="Počet terapií">12 terapií</td>
          <td class="price" data-label="Cena">15 600,- Kč</td>
          <td class="price" data-label="Cena za 1 terapii">1 300,- Kč</td>
          <td class="price" data-label="Ušetříte">3 600,- Kč</td>
        </tr>
        <tr>
          <td data-label="Počet terapií">20 a více terapií</td>
          <td class="price" data-label="Cena">24 000,- Kč</td>
          <td class="price" data-label="Cena za 1 terapii">1 200,- Kč</td>
          <td class="price" data-label="Ušetříte">od 8000,- Kč</td>
        </tr>
    </tbody>
  </table>

<hr>

<h3>Manuální fyzioterapie</h3>
<table class="pricing-table">
    <thead>
      <tr>
        <th>Úkon</th>
        <th class="price">Cena</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Úkon">
          <h6>MĚKKÉ TECHNIKY</h6>
          Jednorázová terapie do 30 min.
        </td>
        <td class="price" data-label="Cena">500,- Kč</td>
      </tr>
      <tr>
        <td data-label="Úkon">
          <h6>ZDRAVOTNÍ CVIČENÍ</h6>
          45 min.
        </td>
        <td class="price" data-label="Cena"></td>
      </tr>
      <tr>
        <td data-label="Úkon">
          Individuální
        </td>
        <td class="price" data-label="Cena">600,- Kč</td>
      </tr>
      <tr>
        <td data-label="Úkon">
          Individuální - 10 lekcí
        </td>
        <td class="price" data-label="Cena">500,- Kč</td>
      </tr>
      <tr>
        <td data-label="Úkon">
          <h6>REFLEXNÍ MASÁŽE</h6>
        </td>
        <td class="price" data-label="Cena"></td>
      </tr>
      <tr>
        <td data-label="Úkon">30 min.</td>
        <td class="price" data-label="Cena">400,- Kč</td>
      </tr>
      <tr>
        <td data-label="Úkon">60 min.</td>
        <td class="price" data-label="Cena">800,- Kč</td>
      </tr>
      <tr>
        <td data-label="Úkon">
          <h6>REFLEXNÍ TERAPIE PLOSKY NOHY</h6>
          = měkké techniky + lymfo drenáž + ultrazvuk + tejpování
        </td>
        <td class="price" data-label="Cena"></td>
      </tr>
      <tr>
        <td data-label="Úkon">1 terapie   x  60 min.</td>
        <td class="price" data-label="Cena">900,- Kč</td>
      </tr>
      <tr>
        <td data-label="Úkon">5 terapií   x  60 min.</td>
        <td class="price" data-label="Cena">4 000,- Kč</td>
      </tr>
      <tr>
        <td data-label="MANUÁLNÍ FYZIOTERAPIE">10 terapií  x  60 min.</td>
        <td class="price" data-label="Cena">7 000,- Kč</td>
      </tr>
  </tbody>
</table>

<hr>
<h3>Fyzioterapie pomocí ELEKTROLÉČBY a ULTRA ZVUKU</h3>
<p>Elektrosvalové posilovaní ( zadeček+ bříško) cvičte svaly efektivně a v leže.</p>
<table class="pricing-table">
  <thead>
    <tr>
      <th>Počet aplikací</th>
      <th class="price">Cena</th>
      <th class="price">Cena za 1 aplikaci</th>
      <th class="price">Ušetříte</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="4" data-label="Úkon">
        <h6>ULTRAZVUK</h6>
        délka terapie = 5min.
      </td>
    </tr>
    <tr>
      <td data-label="Počet aplikací">1 aplikace</td>
      <td class="price" data-label="Cena">200,- Kč</td>
      <td class="price" data-label="Cena za 1 aplikaci">200,- Kč</td>
      <td class="price" data-label="Ušetříte">0,- Kč</td>
    </tr>
    <tr>
      <td data-label="Počet aplikací">5 aplikací</td>
      <td class="price" data-label="Cena">850,- Kč</td>
      <td class="price" data-label="Cena za 1 aplikaci">170,- Kč</td>
      <td class="price" data-label="Ušetříte">150,- Kč</td>
    </tr>
    <tr>
      <td data-label="Počet aplikací">10 aplikací</td>
      <td class="price" data-label="Cena">1 500,- Kč</td>
      <td class="price" data-label="Cena za 1 aplikaci">150,- Kč</td>
      <td class="price" data-label="Ušetříte">500,- Kč</td>
    </tr>
  </tbody>
</table>

<table class="pricing-table">
  <thead>
    <tr>
      <th>Úkon</th>
      <th class="price">Cena</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="4" data-label="Úkon">
        <h6>ELEKTROLÉČBA</h6>
        <ul>
          <li>Léčba  bolesti</li>
          <li>Svalové posilování</li>
          <li>délka terapie 10 nebo 20 min.</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td data-label="Úkon">Elektro - svalové posilovaní (10min)</td>
      <td class="price" data-label="Cena">250,- Kč</td>
    </tr>
    <tr>
      <td data-label="Úkon">Elektro - svalové posilovaní (20min)</td>
      <td class="price" data-label="Cena">400,- Kč</td>
    </tr>
    <tr>
      <td data-label="Úkon">Elektroléčba (1 min.)</td>
      <td class="price" data-label="Cena">15 - 60 Kč dle druhu terapie</td>
    </tr>
  </tbody>
</table>



<!-- <h3>HILTERAPIE</h3>
<p>
  = terapie laserem
  <ul>
    <li>délka terapie 20 až 30 min.</li>
  </ul>
</p>
<table class="pricing-table">
  <thead>
    <tr>
      <th>Úkon</th>
      <th class="price">Cena</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Úkon">První aplikace + lékařská konzultace</td>
      <td class="price" data-label="Cena">1 300,- Kč</td>
    </tr>
    <tr>
      <td data-label="Úkon">Každá další aplikace</td>
      <td class="price" data-label="Cena">1 000,- Kč</td>
    </tr>
  </tbody>
</table>

<h3>DOPLŇKOVÉ SLUŽBY</h3>
<p>
  <strong>Příplatek</strong> mimo obvyklou pracovní dobu:
</p>
<ul>
  <li>
    pro držitele předplacené permanentky 300 Kč/60 min.
  </li>
  <li>
    pro ostatní klienty příplatek 50 % k ceně služby dle ceníku
  </li>
</ul>
<p>Fyzioterapeutický spotřební materiál Kinesiotape je účtován podle spotřeby po 10 cm/10 Kč.</p>
<p>
  Samostatně účtované <strong>aplikace Kinesiotape</strong> včetně materiálu:
</p>
<ul>
  <li>
    u nových klientů nutná konzultace s fyzioterapeutem minimálně 30 min.
  </li>
  <li>15 min./250 Kč</li>
  <li>30 min./450 Kč</li>
</ul>
<p>
  Samostatně účtované kineziologické vyšetření pacienta 30 min./600 Kč
</p>
<p>
  Samostatně účtované cvičení na Posturomedu s fyzioterapeutem 10 min./200 Kč
</p>

<h3>Výjezd ke klientovi</h3>
<p>
  Účtujeme celkový čas včetně doby na cestě bez dalších poplatků, tj. 1600 Kč/90 min. včetně cesty.
</p> -->
{% endblock %}


{% block features %}
  {% include "snippets/feature_akutni.html" %}
  {% include "snippets/feature_chronicke.html" %}
  {% include "snippets/feature_sport.html" %}
  {% include "snippets/feature_deti.html" %}
{% endblock %}
