{% extends "pages/base.html" %}
{% block page_title %}Chronické bolesti{% endblock %}

{% block content %}
  <!-- <h1>Chronické bolesti</h1> -->
  <h2>Zbavte se dlouhodobých bolestí jednou provždy</h2>
  <ul>
    <li>bolesti trvající <strong>několik měsíců</strong> jako <strong>důsledek neřešení akutní fáze a také přichází s věkem a jako důsledek špatného pohybového vzoru</strong>
    </li>
    <li>
      dlouhodobé a bolestivé stavy, které vedou k blokádám po celé délce páteře
    </li>
    <li>
      za poškozené místo převezmou jeho fuknci jiné struktury (jako klouby a šlachy), které se tak více opotřebovávají
    </li>
  </ul>

  <h4>Jak si představit chronickou bolest očima fyzioterapeuta?</h4>
  <ul>
    <li>
      chronickou bolest si představte jako kruh obtíží, který je potřeba rozetnout a řetězení potíží přerušit (DNS metoda)
    </li>
    <li>
      čím déle bolest neřešíte, tím více se zacyklíte ve stavu setrvalé bolesti, která vede ke <strong>snížení sportovní i pracovní výkonnosti</strong>
    </li>
  </ul>

  <h4>Aktivní přístup pacienta</h4>
  <ul>
    <li>v rámci terapie se dozvíte, <strong>jak se pohybovat, abyste si neubližovali - klient vždy rozumí tomu, proč který cvik dělá a v rámci terapie je on ten aktivní, a tím může převzít zodpovědnost za svoje zdraví</strong></li>
    <li>
      vždy odstraňujeme <strong>příčiny bolestí, a to tím</strong> že odstraňujeme chyby v pohybovém vzoru (ve způsobu pohybu, držení těla a ve způsobu dýchání)
    </li>
  </ul>

  <h4>Jak probíhá terapie u dlouhodobých bolestí? </h4>
  <ul>
    <li>
      na počátku provede terapeut <strong>kineziologický rozbor</strong>, který probíhá jako <strong>rozhovor a <i>“vstupní prohlídka”</i></strong>
    </li>
    <li>proberete s terapeutem vaše problémy, vaši zdravotní historii, čím se živíte, jak trávíte volný čas apod.
    </li>
    <li>terapeut vám sdělí, <strong>kolik sezení bude potřeba</strong>, abyste se zbavili svých problémů a naučili se správně hýbat</li>
    <li>léčebné rehabilitace jsou <strong>řešením jednou provždy - bolesti se zbavíte trvale</strong></li>
  </ul>

{% endblock %}

{% block testimonial %}
<p>
  Klientka dlouhodobě trpěla bolestmi v oblasti bederní páteře. Situace vyústila v operaci a odstranění meziobratlové ploténky. Po určité době se opět objevily stejné potíže s další ploténkou. Klientka byla aktivní, cvičila jógu, pilates, ale bolesti u ní tak hrozné, že se pomalu začala izolovat od své rodiny a rodina kolem ní chodila v rukavičkách. Všichni žili v hrůze, kdy ploténka zase vyskočí ven a naučili se fungovat odděleně. <br>
  Po terapii, kdy se klientka naučila správně dýchat a pomocí cvičení se podařilo přesunout těžiště těla tak, aby ploténka nenesly téměř žádnou váhu, je paní bez bolesti, přestože má vyhřezlé už tři ploténky. Když se zbavila bolesti a strachu, uzdravil se také její osobní život.
</p>
{% endblock %}

{% block features %}
  {% include "snippets/feature_akutni.html" %}
  {% include "snippets/feature_sport.html" %}
  {% include "snippets/feature_deti.html" %}
{% endblock %}
