{% extends "pages/base.html" %}

{% block content %}
  <h1>Fyzioterapie pro děti</h1>
  <ul>
    <li>u dětí <strong>od 12 let</strong> praktikujeme <strong>všechny terapeutické postupy jako u dospělých</strong></li>
    <li>u dětských pacientů řešíme zejména <strong>poúrazové stavy</strong> - snížená pohyblivost po zlomeninách a operacích (bolesti, nerovnoměrné zatížení svalů, …)</li>
  </ul>

  <h4>Problémy s plochými nohami</h4>
  <ul>
    <li>stav podélné a příčné klenby</li>
    <li>symetričnost zatížení nohou</li>
    <li>zatížení jednotlivých částí plosky</li>
    <li>související <strong>bolesti nohou, pat, achilovy šlachy</strong> nebo různých částí páteře</li>
    <li>regulace postavení nohy při stoji, chůzi či běhu</li>
    <li>cvičení pro skoliózu a další <strong>vrozené dispozice</strong></li>
  </ul>
  <!-- <strong>Apel na maminky - příběhem pacienta - musí dodat KOZÁKOVI</strong> -->
{% endblock %}

{% block features %}
{% include "snippets/feature_sport.html" %}
  {% include "snippets/feature_akutni.html" %}
  {% include "snippets/feature_chronicke.html" %}
{% endblock %}
