{% extends "pages/base.html" %}

{% block page_title %}Elektroléčba{% endblock %}

{% block content %}
  <h4>Elektroléčba</h4>
  <p>
    Elektroléčba patří k fyzikální terapii, při které je využíván léčebný účinek různých forem elektrické energie.<br>
    Cílem je zmírnění či odstranění bolesti, nastolení vegetativní rovnováhy a stimulace svalů. Úspěšná terapie výrazně a účinně odstraňuje bolest již po prvních léčeních a dlouhodobě přetrvává.
  </p>
  <ul>
    <li><strong>podpůrná léčba při bolestech celého těla</strong></li>
    <li>nastartuje tkáně k samoléčebné aktivitě </li>
    <li>bolesti svalů, kloubů, hlavy, migrény, ústřely, ... </li>
    <li><strong>zlepšuje krevní cirkulaci a výživu tkání</strong></li>
    <li>tlumí zánětlivou aktivitu, <strong>zmírňuje otoky</strong></li>
    <li><strong>uvolňuje svalstvo</strong> z nepřirozené křeče</li>
  </ul>

  <h4>Co znamená ELEKTROLÉČBA</h4>
  <ul>
    <li>využití léčebného účinku <strong>různých forem elektrické energie</strong></li>
    <li>stimulace nervů pomocí elektrických impulsů</li>
    <li><strong>zmírňuje bolesti</strong> a usnadňuje práci s problematickými částmi těla pacienta = pacient cítí menší bolest = s pacientem lze terapeuticky pohybovat</li>
    <li>maximální délka terapie je <strong>15 minut</strong></li>
  </ul>

<h4>Druhy elektroléčby</h4>
<ul>
  <li>interferenční proudy</li>
  <li>DDproudy</li>
  <li>galvanický proud</li>
  <li>elektro-diagnostické proudy</li>
  <li>Ultrazvuk</li>
</ul>

<h4>Cvičení za pomoci elektrošoků</h4>
<ul>
  <li>elektro trénink (cvičení posílené o elektrické impulsy)
    <ul>
      <li>posilujete a cvičíte jako normálně, ale cvičení je posíleno o slabé elektrošoky</li>
      <li>sval tak cvičí intenzivněji</li>
      <li>také pro pacienty, kteří po úrazu nejsou sami schopni svaly dostatečně procvičit = cvičí za pomoci až do úplného zotavení</li>
    </ul>
  </li>
  <li>
    elektro strečing (protažení a uvolnění svalů posílené o elektrické impulsy)
    <ul>
      <li>
        svalová relaxace stejná jako, když se protahuje před a po cvičení
      </li>
      <li>
        cvičení na 10 nebo 20 min
      </li>
    </ul>
  </li>
</ul>
{% endblock %}


{% block features %}
  {% include "snippets/feature_akutni.html" %}
  {% include "snippets/feature_chronicke.html" %}
{% endblock %}
