{% extends "pages/base.html" %}

{% block page_title %}Manuální fyzioterapie - metody rehabilitace{% endblock %}

{% block content %}
  <h2>Manuální fyzioterapie - metody rehabilitace</h2>

  <h4>Brügger koncept</h4>
  <p>
    Zabývá se porušením držení těla a pohybu. Funkční poruchy vyvolávající nesoulad v celém pohybovém systému, které vedou k jeho neracionálnímu používání. Při aplikaci terapeutických postupů jde o to, aby se korigovala zaběhaná chybná zatížení pohybového systému.
  </p>

  <ul>
    <li>
      terapie založená na <strong>odhalení příčiny tzv. funkční poruchy</strong>
    </li>
    <li>
      funkční poruchy neboli <i>“<strong>poruchy ve fungování</strong>”</i> se dají napravit
    </li>
    <li>
      tělo je naprogramované tak, že ve chvíli kdy mu hrozí přetížení, nastartuje ochranný systém, který změní správné držení těla, svalů, vzpřímení, apod. - <strong>zakonzervuje určitý stav, který není pro tělo přirozený</strong>
    </li>
    <li>
      úkolem terapeuta je tyto poruchy odhalit a <strong>opět naučit tělo, jak to má být správně</strong>
    </li>
  </ul>

  <p>
    Cílem je odstranit bolestivá svalová napětí. V rámci konceptu se používá i metodika teipování.
  </p>

  <h4>DNS neboli Kolářova metoda </h4>
  <ul>
    <li>
      od r. 1995
    </li>
    <li>
      soubor <strong>léčebných cvičení</strong>
    </li>
    <li>
      u sportovců často využívána na maximalizaci výkonů a snížení energetického výdeje
    </li>
  </ul>

  <h4>Mobilizační techniky a techniky měkkých tkání</h4>
  <ul>
    <li>
      odstranění <strong>blokád páteře a kloubů</strong> (tzv. “<i>uskříplý nerv</i>”, zablokovaná žebra apod.)
    </li>
    <li>
      využití tlaku nebo tahu na kůži, podkoží, vazy a svaly samotné
    </li>
    <li>
      cílem <strong>obnova schopnosti měkkých tkání se protahovat a posouvat</strong> a tím zamezovat blokádám
    </li>
    <li>
      uvolnění blokovaných svalových řetězců
    </li>
  </ul>

  <h4>Reflexní masáže</h4>
  <ul>
    <li>
      tělo propojují nervová vlákna spojující vnitřní stuktury (orgány) s vnějšími a tvoří dohromady spojené dráhy (reflexní oblouky)
    </li>
    <li>
      <strong>reflexní masáží lze některé změny v těle ošetřit na povrchu těla prostřednictvím fyzioterapie</strong>
    </li>
    <li>
      slouží <strong>k prokrvení</strong> dané oblasti, <strong>zmírnění bolesti</strong> nebo <strong>svalového napětí</strong>
    </li>
    <li>
      masáž se provádí nasucho, vleže nebo vsedě
    </li>
    <li>
      nejsou totéž jako relaxační masáže, kterými se uvolňují svaly
    </li>
  </ul>

  <h4>Řešení pro ploché nohy</h4>
  <ul>
    <li>
      úprava klenby nohy
    </li>
    <li>
      <strong>cvičení na úpravu těžiště těla, a tím klenby nohy</strong> (přenášíte váhu tam, kde to noha unese)
    </li>
    <li>
      díky nervovým zakončením lze i na plosky nohou aplikovat reflexní masáž
    </li>
  </ul>

  <h4>Manuální lymfodrenáž</h4>
  <ul>
    <li>
      zaměřuje se pouze na <strong>povrchový mízní systém</strong>, tedy kůži a podkoží, nikoliv na svaly (relaxační masáž) nebo nervové spoje (reflexní masáž)
    </li>
    <li>
      <strong>léčba otoků, podpora prokrvení oblasti, regenerace po úrazech</strong>, boj s migrénou ad.
    </li>
  </ul>

  <h4>Tejpování</h4>
  <ul>
    <li>
      páska, která pomáhá postiženému místu
    </li>
    <li>
      vydrží cca 5 dní - 1 týden
    </li>
    <li>
      tejpy se aplikují buď <strong>fixační</strong> (aby byla oblast stále ve stejném postavení) nebo <strong>kinesiotejpy, které pomáhají přetížené oblasti v pohybu</strong> a vykonávají za postiženou oblast část její práce
    </li>
    <li>
      VIDEA o tejpování najdete <a href="https://www.youtube.com/results?search_query=kinesiotaping">TADY</a>, ale doporučujeme nechat si vždy udělat tejp odborně
    </li>
  </ul>

{% endblock %}

{% block features %}
  {% include "snippets/feature_akutni.html" %}
  {% include "snippets/feature_chronicke.html" %}
  {% include "snippets/feature_sport.html" %}
{% endblock %}
