{% extends "pages/base.html" %}

{% block page_title %}Terapie laserem - zbavte se bolesti do několika hodin{% endblock %}

{% block content %}
<h2>Terapie laserem - zbavte se bolesti do několika hodin</h2>

<p>
  Nejmodernější terapeuticky účinný způsob léčby neinvazním laserovým paprskem aplikovaným hlubokodosahovou hlavicí o průniku až 8cm do tkání. Je možné kontrolovat výkon tak, aby bylo možné zvýšit terapeutické dávky a dosahovat vynikajících výsledků.
</p>

<h4>Co je Hillterapia? </h4>
<ul>
  <li>
    <strong>laserová terapie</strong> umožňující absolutně <strong>bezpečně</strong> léčit zdroje bolesti
  </li>
  <li>
    <strong>zbavuje bolesti</strong> (analgetický účinek) a <strong>razantně zmírňuje otoky</strong> a zánět
  </li>
  <li>
    výkon laseru kontrolován tak, aby bylo možné zvýšit terapeutické dávky a zmírnit co nejrychleji bolest a otok
  </li>
  <li>
    jedna z nejúčinnějších terapií pro <strong>ovlivnění svalového napětí</strong> (ztuhlost, bolest, otok, …)
  </li>
</ul>

<h4>Terapie laserem na akutní i chronické bolesti </h4>
<ul>
  <li>
    řešení složitých <strong>chronických a/nebo degenerativních onemocnění</strong> s dlouhotrvajícím  efektem (artróza, Bechtěrevova nemoc, degenerativní změny kloubů apod.)
  </li>
  <li>
    odstranění lokálních vazivových struktur (boule) způsobených dlouhodobým přetěžovaním
  </li>
  <li>
    akutní stavy jako vymknutý kotník, “uskříplý” nerv do tří dnů (z akutního stádia do pohyblivé podoby)
  </li>
  <li>
    lze kombinovat s aplikací <strong>elektroléčby</strong>
  </li>
</ul>
{% endblock %}


{% block testimonial %}
<p>
  U paní Kozákové jsem se začala přibližně před rokem léčit se “<i>zamrzlým</i>” a bolestivým ramenem. Líbí se mi na ní to, že se nesnaží pouze odstranit akutní problém, ale na pacienta pohlíží komplexně s cílem najít a odstranit příčinu vašich potíží. Je velmi flexibilní a léčebný plán ušije na míru. Je milá a vždy usměvavá. Velmi příjemné prostředí ordinace vám pomůže se uvolnit jak mentálně tak fyzicky. V současné době řeším zablokovanou krční páteř a nesmírně mi pomáhají měkké techniky a aplikace laseru.
</p>
<span class="author">— Maria</span>
{% endblock %}

{% block features %}
  {% include "snippets/feature_akutni.html" %}
  {% include "snippets/feature_chronicke.html" %}
  {% include "snippets/feature_sport.html" %}
{% endblock %}
