{% extends "pages/base.html" %}

{% block page_title %}Obchodní podmínky{% endblock %}
{% block testimonials %}{% endblock %}

{% block content %}

<h2>Obchodní podmínky</h2>
<p><strong>&sect;1</strong></p>

<p><strong>&Uacute;vodn&iacute; ustanoven&iacute;</strong></p>

<ol>
  <li>
    <p>Provozovatelem Služby je společnost Ethera-med s.r.o., IČ 031 30 207 se s&iacute;dlem Americk&aacute; 2503/8a, Vinohrady (Praha 2), 120 00</p>
  </li>
  <li>
    <p>Klientem Služby je každ&aacute; osoba, kter&aacute; v souladu s těmito Smluvn&iacute;mi podm&iacute;nkami čerp&aacute; Službu osobně, př&iacute;padně v doprovodu sv&eacute;ho z&aacute;konn&eacute;ho z&aacute;stupce (z&aacute;konn&yacute;ch z&aacute;stupců).
      Klient nebo jeho z&aacute;konn&yacute; z&aacute;stupce (z&aacute;konn&iacute; z&aacute;stupci) je osobou s plnou způsobilost&iacute; k pr&aacute;vn&iacute;m &uacute;konům.</p>
  </li>
  <li>
    <p>Provozovatel poskytuje Klientovi odbornosti nel&eacute;kařsk&eacute; zdravotnick&eacute; Služby na z&aacute;kladě specializačn&iacute;ho vzděl&aacute;v&aacute;n&iacute; nel&eacute;kařsk&yacute;ch zdravotnick&yacute;ch pracovn&iacute;ků dle z&aacute;kona
      č. 96/2004 Sb., o podm&iacute;nk&aacute;ch z&iacute;sk&aacute;v&aacute;n&iacute; a uzn&aacute;v&aacute;n&iacute; způsobilosti k v&yacute;konu nel&eacute;kařsk&yacute;ch zdravotnick&yacute;ch povol&aacute;n&iacute; a k v&yacute;konu činnost&iacute;
      souvisej&iacute;c&iacute;ch s poskytov&aacute;n&iacute;m zdravotn&iacute; p&eacute;če a o změně někter&yacute;ch souvisej&iacute;c&iacute;ch z&aacute;konů (z&aacute;kon o nel&eacute;kařsk&yacute;ch zdravotnick&yacute;ch povol&aacute;n&iacute;ch),
      ve zněn&iacute; pozděj&scaron;&iacute;ch předpisů a to odbornou způsobilost k v&yacute;konu povol&aacute;n&iacute; fyzioterapeuta dle &sect; 24 z&aacute;kona č. 96/2004 Sb. zdravotnick&yacute;m pracovn&iacute;kem způsobil&yacute;m k v&yacute;konu
      zdravotnick&eacute;ho povol&aacute;n&iacute; bez odborn&eacute;ho dohledu po z&iacute;sk&aacute;n&iacute; odborn&eacute; a specializovan&eacute; způsobilosti a odbornou způsobilost k v&yacute;konu povol&aacute;n&iacute; mas&eacute;ra dle &sect;37
      z&aacute;kona č. 96/2004 Sb. zdravotnick&yacute;m pracovn&iacute;kem způsobil&yacute;m k v&yacute;konu zdravotnick&eacute;ho povol&aacute;n&iacute; pod odborn&yacute;m dohledem nebo př&iacute;m&yacute;m veden&iacute;m pracovn&iacute;kem dle &sect;
      24 z&aacute;kona č. 96/2004 Sb. .</p>
  </li>
  <li>
    <p>Služba Klientovi spoč&iacute;v&aacute; v poskytov&aacute;n&iacute; p&eacute;če při l&eacute;čbě bolestiv&yacute;ch stavů pohybov&eacute;ho apar&aacute;tu, nebo poskytov&aacute;n&iacute; preventivn&iacute; p&eacute;če pro předch&aacute;zen&iacute;
      pohybov&yacute;ch obt&iacute;ž&iacute; za použit&iacute; neinvazivn&iacute;ch manu&aacute;ln&iacute;ch technik odborn&eacute; fyzioterapie (dle studijn&iacute;ho programu oboru fyzioterapie při FTVS UK nebo LF UK Praha), manu&aacute;ln&iacute;ch
      nebo př&iacute;strojov&yacute;ch mas&aacute;žn&iacute;ch technik, nebo vybran&yacute;ch postupů fyzik&aacute;ln&iacute; terapie a př&iacute;strojově podporovan&eacute; terapie běžně už&iacute;van&yacute;ch v l&eacute;čbě pohybov&eacute;ho apar&aacute;tu.</p>
  </li>
  <li>
    <p>D&aacute;le jen &bdquo;Informačn&iacute; Služba&ldquo; je služba poskytovan&iacute; informačn&iacute;ho obsahu z webov&yacute;ch str&aacute;nek www.fyzioterapie-ethera. cz zas&iacute;lan&aacute; na emailovou adresu Uživatele nebo po&scaron;tou</p>
  </li>
</ol>

<p><br /> &nbsp;
</p>

<p><strong>&sect;2</strong></p>

<p><strong>Postup a podm&iacute;nky využ&iacute;v&aacute;n&iacute; Služby</strong></p>

<p>1. K využit&iacute; Služby nen&iacute; nutn&aacute; předchoz&iacute; n&aacute;v&scaron;těva l&eacute;kaře. Provozovatel prov&aacute;d&iacute; vlastn&iacute; diagnostiku. Nicm&eacute;ně v př&iacute;padě, kdy m&aacute; Klient zpr&aacute;vu od jin&eacute;ho
  diagnostick&eacute;ho zdravotn&iacute;ka se specializac&iacute; na l&eacute;čbu pohybov&eacute;ho apar&aacute;tu (dokumentaci v listinn&eacute; podobě, na CD, popis RTG, MRI, apod.), specialista Provozovatele ji může použ&iacute;t jako dal&scaron;&iacute;
  informaci ke stanoven&iacute; diagn&oacute;zy a nejvhodněj&scaron;&iacute; n&aacute;sledn&eacute; p&eacute;či formou individu&aacute;ln&iacute;ho l&eacute;čebn&eacute;ho postupu.</p>

<p>2. Při prvn&iacute;m objedn&aacute;n&iacute; telefonicky, emailem, nebo jsou vyžadov&aacute;ny pouze n&aacute;sleduj&iacute;c&iacute; osobn&iacute; &uacute;daje: Jm&eacute;no Klienta, Př&iacute;jmen&iacute; Klienta, Mobiln&iacute; telefon kontaktn&iacute;
  osoby a Emailov&aacute; adresa kontaktn&iacute; osoby (v př&iacute;padě např. nezletil&eacute;ho Klienta). Při odm&iacute;tnut&iacute; poskytnut&iacute; těchto z&aacute;kladn&iacute;ch kontaktn&iacute;ch &uacute;dajů může b&yacute;t rezervace prvn&iacute;ho
  term&iacute;nu terapie zru&scaron;ena.</p>

<p>a. Poskytnut&eacute; č&iacute;slo mobiln&iacute;ho telefonu je určeno v&yacute;hradně pro komunikaci mezi Klientem a Provozovatelem, k prověřen&iacute; zpožděn&iacute; dostaven&iacute; se Klienta na pl&aacute;novanou Službu, změna term&iacute;nu terapie
  z důvodu nepl&aacute;novan&eacute; nemoci či nepř&iacute;tomnosti terapeuta.</p>

<p>b. Poskytnut&aacute; emailov&aacute; adresa slouž&iacute; k zas&iacute;l&aacute;n&iacute; připom&iacute;nky na bl&iacute;ž&iacute;c&iacute; se Službu, nebo ke komunikaci mezi Klientem a Provozovatelem, př&iacute;padně, pokud o to Klient pož&aacute;d&aacute;,
  k zas&iacute;l&aacute;n&iacute; v&yacute;hodn&yacute;ch nab&iacute;dek typu last minute, apod..</p>

<p>3. Po z&aacute;pisu objedn&aacute;vky terapie do rezervačn&iacute;ho syst&eacute;mu je odesl&aacute;n Klientovi sms se souhrnnou informac&iacute; o napl&aacute;novan&eacute; terapii.</p>

<p>4. Vždy 24 hodin před každou pl&aacute;novanou terapi&iacute; zapsanou do rezervačn&iacute;ho syst&eacute;mu je Klientovi odesl&aacute;na informativn&iacute; SMS a email s připomenut&iacute;m bl&iacute;ž&iacute;c&iacute; se terapie.</p>

<p>5. V př&iacute;padě, kdy se Klient nemůže dostavit na napl&aacute;novanou Službu, je povinen se omluvit minim&aacute;lně 24 hodin před rezervovan&yacute;m term&iacute;nem. Neomluven&aacute; terapie nebo terapie omluven&aacute; v obdob&iacute; krat&scaron;&iacute;m
  než 24 hodin podl&eacute;h&aacute; storno podm&iacute;nk&aacute;m.</p>

<p>6. Klient je před zah&aacute;jen&iacute;m čerp&aacute;n&iacute; Služby pož&aacute;d&aacute;n o vyplněn&iacute; vstupn&iacute;ho dotazn&iacute;ku pro vy&scaron;etřen&iacute; pohybov&eacute;ho apar&aacute;tu pro poskytnut&iacute; nezbytn&yacute;ch &uacute;dajů
  pro stanoven&iacute; spr&aacute;vn&eacute; diagn&oacute;zy a efektivn&iacute;ho a bezpečn&eacute;ho individu&aacute;ln&iacute;ho l&eacute;čebn&eacute;ho postupu. Na z&aacute;kladě &uacute;dajů poskytnut&yacute;ch ve vstupn&iacute;m dotazn&iacute;ku
  pro vy&scaron;etřen&iacute; pohybov&eacute;ho apar&aacute;tu a na z&aacute;kladě proveden&iacute; diagnostiky jsou Klientovi sděleny různ&eacute; možnosti terapie a d&aacute;le pak jsou zhodnoceny možn&eacute; kontraindikace. Terapeut neruč&iacute;
  za spr&aacute;vnost j&iacute;m proveden&eacute; diagnostiky nebo spr&aacute;vnost navržen&eacute;ho individu&aacute;ln&iacute;ho l&eacute;čebn&eacute;ho postupu, pokud jsou mu Klientem někter&aacute; fakta o jeho zdravotn&iacute;m stavu zamlčena.</p>

<p>8. Souč&aacute;st&iacute; vstupn&iacute;ho dotazn&iacute;ku je i svobodn&yacute; a informovan&yacute; souhlas Klienta dle relevantn&iacute;ch ustanoven&iacute; z&aacute;kona 101/2000 Sb., o ochraně osobn&iacute;ch &uacute;dajů v platn&eacute;m zněn&iacute;,
  z&aacute;kona 372/2011 Sb. o zdravotn&iacute;ch služb&aacute;ch v platn&eacute;m zněn&iacute;, a z&aacute;kona č. 480/2004 Sb. o někter&yacute;ch služb&aacute;ch informačn&iacute; společnosti v platn&eacute;m zněn&iacute;. Poskytnut&eacute; &uacute;daje
  i svůj informovan&yacute; souhlas Klient potvrd&iacute; sv&yacute;m podpisem. Formul&aacute;ř se okamžikem podpisu st&aacute;v&aacute; souč&aacute;st&iacute; zdravotn&iacute; dokumentace Klienta u Provozovatele.</p>

<p>9. Před zah&aacute;jen&iacute;m plněn&iacute; individu&aacute;ln&iacute;ho l&eacute;čebn&eacute;ho postupu jsou terapeutem &uacute;stně v dostatečn&eacute;m rozsahu a srozumitelnou formou sděleny Klientovi informace o jeho zdravotn&iacute;m stavu a je
  navržen individu&aacute;ln&iacute; l&eacute;čebn&yacute; postup včetně &uacute;činků l&eacute;čebn&eacute;ho postupu a zdravotn&iacute;ch kontraindikac&iacute;. Pro spr&aacute;vn&eacute; proveden&iacute; diagnostiky a stanoven&iacute; spr&aacute;vn&eacute;ho
  individu&aacute;ln&iacute;ho l&eacute;čebn&eacute;ho postupu může terapeut vyžadovat po Klientovi proveden&iacute; kineziologick&eacute;ho rozboru nebo jeho relevantn&iacute; č&aacute;sti. Klientovi jsou ať už na webov&yacute;ch str&aacute;nk&aacute;ch,
  nebo osobně před terapi&iacute; poskytnuty informace o každ&eacute; použ&iacute;van&eacute; metodě (zdravotn&iacute;mu v&yacute;konu) o jejich předpokl&aacute;dan&yacute;ch př&iacute;nosech, důsledc&iacute;ch a př&iacute;padn&yacute;ch rizic&iacute;ch,
  d&aacute;le pak různ&eacute; možnosti alternativn&iacute;ho poskytnut&iacute; zdravotn&iacute;ch služeb. Před zah&aacute;jen&iacute;m individu&aacute;ln&iacute;ho l&eacute;čebn&eacute;ho postupu je Klientovi v dostatečn&eacute;m rozsahu umožněno kl&aacute;st
  doplňuj&iacute;c&iacute; ot&aacute;zky vztahuj&iacute;c&iacute; se k jeho zdravotn&iacute;mu stavu a navrhovan&yacute;m zdravotn&iacute;m služb&aacute;m, s c&iacute;lem aby Klient z&iacute;skal podrobnosti jeho zdravotn&iacute;ho stavu a byl individu&aacute;ln&iacute;
  l&eacute;čebn&yacute; postup plně srozumiteln&yacute;. Na z&aacute;kladě sezn&aacute;men&iacute; se s navržen&yacute;m individu&aacute;ln&iacute;m l&eacute;čebn&yacute;m postupem Klient potvrd&iacute; terapeutovi, že v&scaron;e pochopil a terapeut přistoup&iacute;
  k realizaci navržen&eacute;ho individu&aacute;ln&iacute;ho l&eacute;čebn&eacute;ho postupu.</p>

<p>10. Zah&aacute;jen&iacute; terapie individu&aacute;ln&iacute;m l&eacute;čebn&yacute;m postupem je dobrovoln&eacute; a je na vůli Klienta nebo jeho z&aacute;konn&eacute;ho z&aacute;stupce.</p>

<p>11. Pokud Klient odm&iacute;tne kteroukoliv č&aacute;st tohoto postup využ&iacute;v&aacute;n&iacute; Služby, ale z&aacute;roveň vyžaduje dod&aacute;n&iacute; Služby, m&aacute; se za to, že souhlas&iacute; s př&iacute;padn&yacute;mi riziky l&eacute;čebn&eacute;ho
  postupu. Pokud terapeut Provozovatele v t&eacute;to situaci kdykoliv zhodnot&iacute;, že pokračov&aacute;n&iacute; individu&aacute;ln&iacute;ho l&eacute;čebn&eacute;ho postupu může naru&scaron;it zdrav&iacute; Klienta, m&aacute; pr&aacute;vo na okamžit&eacute;
  zastaven&iacute; terapie Klientovi. Klient m&aacute; v tomto př&iacute;padě n&aacute;rok na vr&aacute;cen&iacute; dosud nevyčerpan&eacute; č&aacute;sti služeb.</p>

<p>12. V př&iacute;padě dal&scaron;&iacute; pl&aacute;novan&eacute; n&aacute;v&scaron;těvy si Klient osobně na m&iacute;stě, telefonicky, emailem, nebo web formul&aacute;řem napl&aacute;nuje term&iacute;n dal&scaron;&iacute; terapie.</p>

<p>13. Na zač&aacute;tku každ&eacute; n&aacute;sledn&eacute; terapie je terapeutem zhodnocena předchoz&iacute; terapie a dle poskytnut&yacute;ch informac&iacute; od Klienta terapeut bud pokračuje v individu&aacute;ln&iacute;m l&eacute;čebn&eacute;m postupu,
  nebo je doporučena jeho změna, př&iacute;padně ukončen&iacute; l&eacute;čby, pokud se na tom terapeut i Klient vz&aacute;jemně dohodnou. O každ&eacute; terapii je veden z&aacute;znam ve zdravotn&iacute; dokumentaci Klienta. V tomto z&aacute;znamu je
  zaznamen&aacute;v&aacute;no hodnocen&iacute; již proběhl&eacute; terapie jak Klientem, tak terapeutem, popis každ&eacute; terapie, př&iacute;padně pl&aacute;n terapie na doma i na př&iacute;&scaron;t&iacute; terapii na pracovi&scaron;ti Provozovatele.</p>

<p>14. Každ&yacute; Klient se m&aacute; možnost před zah&aacute;jen&iacute;m terapie zdarma a libovolně pt&aacute;t na možnosti individu&aacute;ln&iacute;ho l&eacute;čebn&eacute;ho postupu a jak&eacute; jsou alternativy. Dotazy je možn&eacute; pokl&aacute;dat
  telefonicky v provozn&iacute; době na telefonn&iacute; lince Provozovatele nebo bez omezen&iacute; emailem. Klient m&aacute; pr&aacute;vo si před zah&aacute;jen&iacute;m terapie zvolit konkr&eacute;tn&iacute;ho terapeuta.</p>

<p>15. V př&iacute;padě nezletil&eacute;ho Klienta nebo Klienta zbaven&eacute;ho způsobilosti k pr&aacute;vn&iacute;m &uacute;konům, pr&aacute;vo na informace o zdravotn&iacute;m stavu a pr&aacute;vo kl&aacute;st ot&aacute;zky n&aacute;lež&iacute; z&aacute;konn&eacute;mu
  z&aacute;stupci Klienta i Klientovi. Klientovi se v tomto př&iacute;padě informace a zodpovězen&iacute; doplňuj&iacute;c&iacute;ch ot&aacute;zek poskytne způsobem zohledňuj&iacute;c&iacute;m jeho rozumovou vyspělost a aktu&aacute;ln&iacute; schopnost
  informaci porozumět. Nezletil&eacute;mu Klientovi star&scaron;&iacute;mu 15 let se informace a zodpovězen&iacute; doplňuj&iacute;c&iacute;ch ot&aacute;zek poskytne v pln&eacute;m rozsahu s v&yacute;jimkou př&iacute;padů, kdy tento Klient nen&iacute;
  schopen v dostatečn&eacute; m&iacute;ře porozumět v&yacute;znamu 4 a charakteru poskytovan&yacute;ch Služeb a jejich vlivu na jeho zdrav&iacute; a život; v tomto př&iacute;padě se postupuje podle věty přede&scaron;l&eacute;.</p>

<p><strong>&sect;3</strong></p>

<p><strong>Pr&aacute;va a povinnosti Klienta</strong></p>

<p>1. Klient vůči Provozovateli prohla&scaron;uje, zaručuje a zavazuje se, že a) je plně způsobil&yacute; k pr&aacute;vn&iacute;m &uacute;konům, př&iacute;padě čerp&aacute; Službu se sv&yacute;m z&aacute;konn&yacute;m z&aacute;stupcem b) ve&scaron;ker&eacute;
  &uacute;daje, kter&eacute; o sobě před zah&aacute;jen&iacute;m Služeb i v průběhu terapie před každou dal&scaron;&iacute; navazuj&iacute;c&iacute; terapi&iacute; dle individu&aacute;ln&iacute;ho l&eacute;čebn&eacute;ho postupu ve Smluvn&iacute;ch podm&iacute;nk&aacute;ch
  definovan&yacute;m způsobem poskytne, jsou pravdiv&eacute;, &uacute;pln&eacute;, přesn&eacute; a spr&aacute;vn&eacute;, c) se před zah&aacute;jen&iacute;m už&iacute;v&aacute;n&iacute; Služby důkladně sezn&aacute;mil s podm&iacute;nkami těchto Smluvn&iacute;ch
  podm&iacute;nek, že těmto podm&iacute;nk&aacute;m zcela rozum&iacute; a souhlas&iacute; s nimi, d) zaplatit Provozovateli v požadovan&eacute;m term&iacute;nu plnou cenu Služeb</p>

<p>2. Klient m&aacute; pr&aacute;vo</p>

<p>a) b&yacute;t dostatečně a &uacute;plně informov&aacute;n Provozovatelem o Služb&aacute;ch, tj. jejich rozsahu, term&iacute;nu a ceně, způsobu jejich &uacute;hrady</p>

<p>b) na ř&aacute;dn&eacute; poskytnut&iacute; Klientem objednan&yacute;ch, Provozovatelem potvrzen&yacute;ch a zaplacen&yacute;ch Služeb</p>

<p>c) zn&aacute;t jm&eacute;no, popř&iacute;padě jm&eacute;na, a př&iacute;jmen&iacute; zdravotnick&yacute;ch pracovn&iacute;ků a jin&yacute;ch odborn&yacute;ch pracovn&iacute;ků př&iacute;mo z&uacute;častněn&yacute;ch na poskytov&aacute;n&iacute; zdravotn&iacute;ch
  služeb a osob připravuj&iacute;c&iacute;ch se u Provozovatele na v&yacute;kon zdravotnick&eacute;ho povol&aacute;n&iacute;, kter&eacute; jsou při poskytov&aacute;n&iacute; zdravotn&iacute;ch služeb př&iacute;tomny, popř&iacute;padě prov&aacute;děj&iacute;
  činnosti, kter&eacute; jsou souč&aacute;st&iacute; v&yacute;uky</p>

<p>d) odm&iacute;tnout př&iacute;tomnost osob, kter&eacute; nejsou na poskytov&aacute;n&iacute; zdravotn&iacute;ch služeb př&iacute;mo z&uacute;častněny, a osob připravuj&iacute;c&iacute;ch se na v&yacute;kon povol&aacute;n&iacute; zdravotnick&eacute;ho
  pracovn&iacute;ka, e) reklamovat vady poskytovan&yacute;ch Služeb podle Reklamačn&iacute;ho ř&aacute;du Provozovatele.</p>

<p>f) se kdykoliv v průběhu terapie formou individu&aacute;ln&iacute;ho l&eacute;čebn&eacute;ho postupu zeptat na podrobnosti l&eacute;čby a to mailem kdykoliv nebo telefonicky v pracovn&iacute; době Provozovatele, nebo osobně při n&aacute;sleduj&iacute;c&iacute;
  objednan&eacute; n&aacute;v&scaron;těvě. Osobn&iacute; konzultace jsou zpoplatněny dle platn&eacute;ho cen&iacute;ku. Konzultace mailem nebo telefonicky jsou po dobu čerp&aacute;n&iacute; služeb zcela zdarma.</p>

<p>3. Vyj&aacute;dřen&iacute; souhlasu/nesouhlasu Klienta s poskytov&aacute;n&iacute;m informac&iacute; o zdravotn&iacute;m stavu</p>

<p>a) Klient může před přijet&iacute;m do p&eacute;če určit osoby, kter&eacute; mohou b&yacute;t informov&aacute;ny o jeho zdravotn&iacute;m stavu, a současně může určit, zda tyto osoby mohou nahl&iacute;žet do zdravotnick&eacute; dokumentace o něm veden&eacute;
  nebo do jin&yacute;ch z&aacute;pisů vztahuj&iacute;c&iacute;ch se k jeho zdravotn&iacute;mu stavu, pořizovat si v&yacute;pisy nebo kopie těchto dokumentů a zda mohou v př&iacute;padech podle &sect; 34 odst. 8, z&aacute;kona 372/2011 Sb. o zdravotn&iacute;ch
  služb&aacute;ch v platn&eacute;m zněn&iacute; vyslovit souhlas nebo nesouhlas s poskytnut&iacute;m zdravotn&iacute;ch služeb. Klient může určit osoby nebo vyslovit z&aacute;kaz poskytovat informace o zdravotn&iacute;m stavu kter&eacute;koliv osobě kdykoliv
  po přijet&iacute; do p&eacute;če, rovněž může určen&iacute; osoby nebo vysloven&iacute; z&aacute;kazu poskytovat informace o zdravotn&iacute;m stavu kdykoliv odvolat. Souč&aacute;st&iacute; z&aacute;znamu je rovněž sdělen&iacute; Klienta, jak&yacute;m
  způsobem mohou b&yacute;t informace o jeho zdravotn&iacute;m stavu sdělov&aacute;ny.</p>

<p>b) V těchto př&iacute;padech Klient vypln&iacute; formul&aacute;ř &bdquo;Vyj&aacute;dřen&iacute; souhlasu/nesouhlasu Klienta s poskytov&aacute;n&iacute;m informac&iacute; o zdravotn&iacute;m stavu Klienta&ldquo;. Formul&aacute;ř vypln&iacute; a podep&iacute;&scaron;e
  Klient a terapeut Provozovatele.</p>

<p>c) Tento formul&aacute;ř se podpisem st&aacute;v&aacute; souč&aacute;st&iacute; zdravotnick&eacute; dokumentace veden&eacute; o Klientovi.</p>

<p>5. Vzd&aacute;n&iacute; se pod&aacute;n&iacute; informace o sv&eacute;m zdravotn&iacute;m stavu</p>

<p>a) Klient se může vzd&aacute;t pod&aacute;n&iacute; informace o sv&eacute;m zdravotn&iacute;m stavu (pokud Klient nechce od terapeuta sly&scaron;et informace o sv&eacute;m zdravotn&iacute;m stavu nebo diagn&oacute;zu), popř&iacute;padě může určit, kter&eacute;
  osobě m&aacute; b&yacute;t pod&aacute;na.</p>

<p>b) V těchto př&iacute;padech Klient vypln&iacute; formul&aacute;ř &bdquo;<strong>Vzd&aacute;n&iacute; se pod&aacute;n&iacute; informace o sv&eacute;m zdravotn&iacute;m stavu</strong>&ldquo;. Formul&aacute;ř vypln&iacute; a podep&iacute;&scaron;e Klient
  a terapeut Provozovatele.</p>

<p>c) Tento formul&aacute;ř se podpisem st&aacute;v&aacute; souč&aacute;st&iacute; zdravotnick&eacute; dokumentace veden&eacute; o Klientovi.</p>

<p><strong>&sect;4</strong></p>

<p><strong>Povinnosti Provozovatele ke Klientovi</strong></p>

<p>1. Provozovatel je vůči Klientovi povinen</p>

<p>e) poskytnout Klientovi ve&scaron;ker&eacute; informace dle Smluvn&iacute;ch podm&iacute;nek</p>

<p>f) potvrdit Klientovi ř&aacute;dně objednan&eacute; Služby</p>

<p>g) zabezpečit Klientovi Služby v potvrzen&eacute;m rozsahu a kvalitě</p>

<p><strong>&sect;5</strong></p>

<p><strong>Cena Služby a jejich &uacute;hrada</strong></p>

<p>1. Cena za už&iacute;v&aacute;n&iacute; Služeb je stanovena dle aktu&aacute;ln&iacute;ho platn&eacute;ho cen&iacute;ku um&iacute;stěn&eacute;ho na webov&yacute;ch str&aacute;nk&aacute;ch www.Fyzioterapie-ethera.cz.</p>

<p>2. V cen&aacute;ch uveden&yacute;ch na webu www.fyzioklinika.cz je již zahrnuta z&aacute;konn&aacute; sazba DPH. Pro Služby fyzioterapie, lymfodren&aacute;ž&iacute; a mas&aacute;ž&iacute; je &uacute;čtov&aacute;na sn&iacute;žen&aacute; sazba DPH. Pro
  prodej fyzioterapeutick&yacute;ch pomůcek a jin&eacute;ho doplňkov&eacute;ho zbož&iacute; je &uacute;čtov&aacute;na DPH sazba z&aacute;kladn&iacute;.</p>

<p>3. Cena předplacen&yacute;ch produktů Služby je splatn&aacute; vždy před zah&aacute;jen&iacute;m jejich čerp&aacute;n&iacute;. Cena za jednotlivou Službu je splatn&aacute; v den čerp&aacute;n&iacute; Služby.</p>

<p>4. V př&iacute;padě domluvy mezi Klientem (nebo jeho zaměstnavatelem) a Provozovatelem je možn&eacute; cenu za Služby uhradit formou faktury. Splatnost faktur je 7 kalend&aacute;řn&iacute;ch dn&iacute; od okamžiku vystaven&iacute; faktury. Faktura je
  v den vystaven&iacute; zasl&aacute;na emailem Klientovi a považuje se za doručenou n&aacute;sleduj&iacute;c&iacute;m kalend&aacute;řn&iacute;m dnem.</p>

<p>5. V př&iacute;padě, že celkov&aacute; cena Služby nen&iacute; zaplacena nejpozději do 3 dnů po splatnosti, vyhrazuje si Provozovatel pr&aacute;vo pozastavit poskytov&aacute;n&iacute; Služeb do doby pln&eacute;ho uhrazen&iacute; z&aacute;vazku, nebo od
  objedn&aacute;vky Služeb odstoupit. Opětovně zah&aacute;jen&iacute; čerp&aacute;n&iacute; Služby je možn&eacute; po n&aacute;pravě vadn&eacute;ho stavu. V př&iacute;padě odstoupen&iacute; od objedn&aacute;vky Služeb je Klientovi zaplacena nevyčerpan&aacute;
  č&aacute;st Služeb, pokud je možn&eacute; tuto č&aacute;st stanovit.</p>

<p>6. Zaplacen&iacute;m Služeb se rozum&iacute; před&aacute;n&iacute; hotovosti, použit&iacute;m platebn&iacute; karty na termin&aacute;lu v provozovně, ofici&aacute;ln&iacute;m potvrzen&iacute;m platby v někter&eacute;m ze syst&eacute;mů zaměstnaneck&yacute;ch
  v&yacute;hod smluvně v&aacute;zan&yacute;m s Provozovatelem, nebo přips&aacute;n&iacute; platby na &uacute;čet Provozovatele.</p>

<p>7. &Uacute;hradu objednan&yacute;ch služeb může Klient prov&eacute;st:</p>

<p>a) bankovn&iacute;m bezhotovostn&iacute;m převodem nebo vkladem v hotovosti na &uacute;čet Provozovatele: č. &uacute;.: 265575192/0300 Čsob</p>

<p>b) platbou v hotovosti</p>

<p>c) platbou v aplikaci zaměstnaneck&yacute;ch v&yacute;hod Benefity a.s. nebo Benefit Plus</p>

<p><strong>&sect;6</strong></p>

<p><strong>Ročn&iacute; permanentka:</strong></p>

<p>1. Ročn&iacute; permanentka opravňuje pr&aacute;voplatn&eacute;ho držitele (Klienta) k čerp&aacute;n&iacute; individu&aacute;ln&iacute; terapie s fyzioterapeutem, v r&aacute;mci služeb ordinac&iacute; Ethera-med s.r.o., v rozsahu na permanentce uveden&eacute;ho
  počtu 60 nebo 90 minutov&yacute;ch terapi&iacute; po dobu jednoho roku od data vystaven&iacute;. Po uplynut&iacute; doby platnosti permanentky, nevyčerpan&eacute; terapie propadaj&iacute; a nen&iacute; možn&eacute; vyplacen&iacute; jejich hodnoty v
  hotovosti. Poskytnut&iacute; objednac&iacute;ch term&iacute;nů Klientovi je i v př&iacute;padě velk&eacute;ho množstv&iacute; nevyčerpan&yacute;ch terapii na konci obdob&iacute; platnosti permanentky nevynutiteln&eacute;.</p>

<p>2. Storno podm&iacute;nky: V rezervačn&iacute;m syst&eacute;mu napl&aacute;novan&aacute; terapie, na kterou se Klient nedostavil, nebo terapie prokazatelně zru&scaron;en&aacute; Klientem v době krat&scaron;&iacute; než 24 hodin před pl&aacute;novanou
  terapi&iacute;, propad&aacute; bez finančn&iacute; n&aacute;hrady. V př&iacute;padě napl&aacute;novan&eacute; terapie v den n&aacute;sleduj&iacute;c&iacute;m po v&iacute;kendu nebo st&aacute;n&iacute;m sv&aacute;tku je terapie omluvena pouze v př&iacute;padě
  prokazatelně doručen&eacute; omluvy v obvyklou pracovn&iacute; dobu dne předch&aacute;zej&iacute;c&iacute;m před t&iacute;mto v&iacute;kendem nebo st&aacute;tn&iacute;m sv&aacute;tkem.</p>

<p>3. V r&aacute;mci čerp&aacute;n&iacute; služeb ze zakoupen&eacute; permanentky je možn&aacute;, dle př&aacute;n&iacute; Klienta, n&aacute;hrada jednoho čerp&aacute;n&iacute; 60 min terapie s fyzioterapeutem za jednu aplikaci radi&aacute;ln&iacute; r&aacute;zovou
  vlnou, nebo za tři 50 min terapie př&iacute;strojovou lymfodren&aacute;ž&iacute;.</p>

<p>4. Souč&aacute;st&iacute; permanentky jsou d&aacute;le bezplatn&eacute; odborn&eacute; p&iacute;semn&eacute; konzultace emailem s fyzioterapeutem. Konzultace v ordinaci se započ&iacute;t&aacute;vaj&iacute; do času čerpan&eacute; terapie.</p>

<p>5. Držitel&eacute; ročn&iacute;ch permanentek v př&iacute;padě, že chtěj&iacute; čerpat terapii mimo obvyklou pracovn&iacute; dobu (večer, brzy r&aacute;no, ve sv&aacute;tek, o v&iacute;kendu - dle aktu&aacute;lně platn&eacute; obvykl&eacute; pracovn&iacute;
  doby zveřejněn&eacute; na webu www.fyzioklinika.cz ) zaplat&iacute; za terapii v nadstandardn&iacute;m čase nav&iacute;c př&iacute;platek za jednu 60 minutovou terapii v souladu s aktu&aacute;lně platn&yacute;m cen&iacute;kem. Za př&iacute;padn&eacute;
  cestovn&eacute; je &uacute;čtov&aacute;n poplatek dle aktu&aacute;lně platn&eacute;ho cen&iacute;ku.</p>

<p>6. Využ&iacute;v&aacute;n&iacute; služeb permanentky je sledov&aacute;no osobn&iacute;m podpisem na recepci. V př&iacute;padě pochybnost&iacute; terapeuta o manipulaci s permanentkou (změna data poř&iacute;zen&iacute;, jm&eacute;na, z&aacute;kaznick&eacute;ho
  č&iacute;sla, př&iacute;padně paděl&aacute;n&iacute; permanentky) tato pozb&yacute;v&aacute; platnosti, a bude osobě, kter&aacute; s kartou při&scaron;la, odebr&aacute;na a znehodnocena.</p>

<p>8. Ročn&iacute; permanentky jsou plně přenositeln&eacute;. Podm&iacute;nky použit&iacute; permanentek jsou plně platn&eacute; i na osobu, kter&aacute; ž&aacute;d&aacute; čerp&aacute;n&iacute; Služby v zastoupen&iacute; majitele permanentky. Držitel Ročn&iacute;
  permanentky mus&iacute; předem autorizovat v&scaron;echny osoby, kter&eacute; sm&iacute; čerpat Služby z t&eacute;to karty. m zakoupen&eacute; Ročn&iacute; karty. Př&iacute;stupov&eacute; &uacute;daje je možn&eacute; z&iacute;skat od terapeuta</p>

<p><strong>&sect;7</strong></p>

<p><strong>Předplacen&eacute; karty na konkr&eacute;tn&iacute; počet terapi&iacute;:</strong></p>

<p>1. Předplacen&aacute; karta na konkr&eacute;tn&iacute; počet terapi&iacute; opravňuje pr&aacute;voplatn&eacute;ho držitele k čerp&aacute;n&iacute; individu&aacute;ln&iacute; terapie v r&aacute;mci služeb ordinac&iacute; Ethera-med s.r.o. v rozsahu počtu
  terapi&iacute; uveden&yacute;ch na předplacen&eacute; kartě.</p>

<p>2. Předplacen&aacute; karta pozb&yacute;v&aacute; platnosti po 6 měs&iacute;c&iacute;ch od data jej&iacute;ho vyd&aacute;n&iacute;. Po uplynut&iacute; doby platnosti karty nevyčerpan&eacute; terapie propadaj&iacute; a nen&iacute; možn&eacute; vyplacen&iacute;
  jejich hodnoty v hotovosti. Poskytnut&iacute; objednac&iacute;ch term&iacute;nů Klientovi je, v př&iacute;padě velk&eacute;ho množstv&iacute; nevyčerpan&yacute;ch terapi&iacute; na konci obdob&iacute; platnosti karty, nevynutiteln&eacute;.</p>

<p>3. Storno podm&iacute;nky: V rezervačn&iacute;m syst&eacute;mu napl&aacute;novan&aacute; terapie, na kterou se Klient nedostavil, nebo terapie prokazatelně zru&scaron;en&aacute; Klientem v době krat&scaron;&iacute; než 24 hodin před pl&aacute;novanou
  terapi&iacute;, propad&aacute; bez finančn&iacute; n&aacute;hrady. V př&iacute;padě napl&aacute;novan&eacute; terapie v den n&aacute;sleduj&iacute;c&iacute;m po v&iacute;kendu nebo st&aacute;n&iacute;m sv&aacute;tku je terapie omluvena pouze v př&iacute;padě
  prokazatelně doručen&eacute; omluvy v obvyklou pracovn&iacute; dobu dne předch&aacute;zej&iacute;c&iacute;m před t&iacute;mto v&iacute;kendem nebo st&aacute;tn&iacute;m sv&aacute;tkem.</p>

<p>4. Využ&iacute;v&aacute;n&iacute; služeb fyzioterapie je sledov&aacute;no osobn&iacute;m podpisem klienta na recepci.</p>

<p>5. Držitel&eacute; předplacen&yacute;ch karet v př&iacute;padě, že chtěj&iacute; čerpat terapii mimo obvyklou pracovn&iacute; dobu (večer, brzy r&aacute;no, ve sv&aacute;tek, o v&iacute;kendu - dle aktu&aacute;lně platn&eacute; obvykl&eacute; pracovn&iacute;
  doby zveřejněn&eacute; na webu www.Fyzioterapie-ethera.cz</p>

<p>6. Předplacen&eacute; karty jsou plně přenositeln&eacute;. Podm&iacute;nky použit&iacute; karet jsou plně platn&eacute; i na osobu, kter&aacute; ž&aacute;d&aacute; čerp&aacute;n&iacute; Služby v zastoupen&iacute; majitele karty. Držitel Předplacen&eacute;
  karty mus&iacute; předem autorizovat v&scaron;echny osoby, kter&eacute; sm&iacute; čerpat Služby z t&eacute;to karty.</p>

<p><strong>&sect;8</strong></p>

<p><strong>Prodej d&aacute;rkov&yacute;ch poukazů</strong></p>

<p>1. D&aacute;rkov&yacute; poukaz opravňuje pr&aacute;voplatn&eacute;ho držitele k čerp&aacute;n&iacute; libovoln&eacute; individu&aacute;ln&iacute; terapie v r&aacute;mci služeb ordinac&iacute; Ethera-med s.r.o. pouze v rozsahu uveden&yacute;ch služeb
  na D&aacute;rkov&eacute;m poukazu.</p>

<p>2. D&aacute;rkovou pouk&aacute;zku v uveden&eacute; nomin&aacute;ln&iacute; hodnotě lze uplatnit na libovolnou Službu, nebo kombinaci Služeb dle platn&eacute;ho cen&iacute;ku.</p>

<p>3. Služby je možn&eacute; čerpat pouze v souladu se Smluvn&iacute;mi podm&iacute;nkami.</p>

<p>4. Na D&aacute;rkov&eacute;m poukazu je uvedeno datum vystaven&iacute; i doba jeho platnosti, č&iacute;seln&yacute; k&oacute;d, raz&iacute;tko a podpis odpovědn&eacute;ho pracovn&iacute;ka. Po uplynut&iacute; t&eacute;to doby D&aacute;rkov&yacute; poukaz
  pozb&yacute;v&aacute; platnosti, a nen&iacute; možn&eacute; ani proplacen&iacute; jeho hodnoty v hotovosti. Při ztr&aacute;tě nebo zneužit&iacute; nen&iacute; možn&eacute; zablokov&aacute;n&iacute; poukazu ani poskytnut&iacute; jeho n&aacute;hrady.</p>

<p>5. Storno podm&iacute;nky: V rezervačn&iacute;m syst&eacute;mu napl&aacute;novan&aacute; terapie, na kterou se Klient nedostavil, nebo terapie prokazatelně zru&scaron;en&aacute; Klientem v době krat&scaron;&iacute; než 24 hodin před pl&aacute;novanou
  terapi&iacute;, propad&aacute; bez finančn&iacute; n&aacute;hrady. V př&iacute;padě napl&aacute;novan&eacute; terapie v den n&aacute;sleduj&iacute;c&iacute;m po v&iacute;kendu nebo st&aacute;n&iacute;m sv&aacute;tku je terapie omluvena pouze v př&iacute;padě
  prokazatelně doručen&eacute; omluvy v obvyklou pracovn&iacute; dobu dne předch&aacute;zej&iacute;c&iacute;m před t&iacute;mto v&iacute;kendem nebo st&aacute;tn&iacute;m sv&aacute;tkem.</p>

<p>6. Z kapacitn&iacute;ch důvodů doporučujeme nečekat na vyčerp&aacute;n&iacute; d&aacute;rkov&eacute;ho poukazu před koncem jeho platnosti.</p>

<p>7. Vydan&eacute; D&aacute;rkov&eacute; poukazy jsou sledov&aacute;ny v elektronick&eacute; datab&aacute;zi. V př&iacute;padě pochybnost&iacute; terapeuta o manipulaci s D&aacute;rkov&yacute;m poukazem (změna data platnosti, jm&eacute;na, č&iacute;sla
  poukazu, př&iacute;padně paděl&aacute;n&iacute; poukazu) tento pozb&yacute;v&aacute; platnosti, a bude osobě, kter&aacute; s poukazem při&scaron;la, odebr&aacute;n a znehodnocen.</p>

<p>8. D&aacute;rkov&yacute; poukaz je plně přenositeln&yacute;.</p>

<p>&sect;9</p>

<p>Finančn&iacute; pouk&aacute;zka</p>

<p>1. Finančn&iacute; pouk&aacute;zka na čerp&aacute;n&iacute; služeb opravňuje pr&aacute;voplatn&eacute;ho držitele k čerp&aacute;n&iacute; libovoln&eacute; terapie v r&aacute;mci služeb ordinac&iacute; Etherea-med s.r.o. v rozsahu uveden&yacute;ch služeb
  na pouk&aacute;zce (pokud nen&iacute; na pouk&aacute;zce nebo v jej&iacute; průvodn&iacute; informaci v př&iacute;padě elektronick&eacute; distribuce Finančn&iacute;ch pouk&aacute;zek uvedeno nějak&eacute; omezen&iacute;).</p>

<p>2. Služby je možn&eacute; čerpat pouze v souladu se Smluvn&iacute;mi podm&iacute;nkami.</p>

<p>3. Na Finančn&iacute; pouk&aacute;zce v listinn&eacute; podobě je uvedeno datum platnosti, raz&iacute;tko a podpis odpovědn&eacute;ho pracovn&iacute;ka. V př&iacute;padě vyd&aacute;n&iacute; finančn&iacute; pouk&aacute;zky v elektronick&eacute; podobě
  je platnost k&oacute;du pouk&aacute;zky omezena pouze na 2 měs&iacute;ce od data vyd&aacute;n&iacute;. Po uplynut&iacute; t&eacute;to doby Finančn&iacute; pouk&aacute;zka pozb&yacute;v&aacute; platnost. Nen&iacute; možn&eacute; proplacen&iacute; hodnoty
  Finančn&iacute; pouk&aacute;zka v hotovosti. Při ztr&aacute;tě nebo zneužit&iacute; nen&iacute; možn&eacute; zablokov&aacute;n&iacute; pouk&aacute;zky ani poskytnut&iacute; jej&iacute; n&aacute;hrady.</p>

<p>4. Storno podm&iacute;nky: V rezervačn&iacute;m syst&eacute;mu napl&aacute;novan&aacute; terapie, na kterou se Klient nedostavil, nebo terapie prokazatelně zru&scaron;en&aacute; Klientem v době krat&scaron;&iacute; než 24 hodin před pl&aacute;novanou
  terapi&iacute;, propad&aacute; bez finančn&iacute; n&aacute;hrady. V př&iacute;padě napl&aacute;novan&eacute; terapie v den n&aacute;sleduj&iacute;c&iacute;m po v&iacute;kendu nebo st&aacute;n&iacute;m sv&aacute;tku je terapie omluvena pouze v př&iacute;padě
  prokazatelně doručen&eacute; omluvy v obvyklou pracovn&iacute; dobu dne předch&aacute;zej&iacute;c&iacute;m před t&iacute;mto v&iacute;kendem nebo st&aacute;tn&iacute;m sv&aacute;tkem.</p>

<p>5. Vydan&eacute; Finančn&iacute; pouk&aacute;zky jsou sledov&aacute;ny v elektronick&eacute; datab&aacute;zi. V př&iacute;padě pochybnost&iacute; terapeuta o manipulaci s Finančn&iacute; pouk&aacute;zkou (změna data platnosti, jm&eacute;na, č&iacute;sla
  pouk&aacute;zky, př&iacute;padně paděl&aacute;n&iacute; pouk&aacute;zky) tato pozb&yacute;v&aacute; platnosti, a bude osobě, kter&aacute; s pouk&aacute;zkou při&scaron;la, odebr&aacute;na a znehodnocena. 6. V př&iacute;padě vyd&aacute;n&iacute; finančn&iacute;
  pouk&aacute;zky v elektronick&eacute; verzi (k&oacute;d odeslan&yacute; emailem, nebo sdělen&yacute; telefonicky) plat&iacute; stejn&eacute; smluvn&iacute; podm&iacute;nky jako pro jej&iacute; pap&iacute;rovou variantu.</p>

<p>6. Finančn&iacute; pouk&aacute;zka je plně přenositeln&aacute;.</p>

<p>&sect;11</p>

<p>Z&aacute;nik smluvn&iacute;ho vztahu</p>

<p>1. Uzavřen&aacute; smlouva na poskytnut&iacute; Služby se uzav&iacute;r&aacute; na dobu neurčitou.</p>

<p>2. Provozovatel i Klient resp. Uživatel maj&iacute; pr&aacute;vo jednostranně vypovědět Službu resp. Informačn&iacute; Službu bez ud&aacute;n&iacute; důvodů.</p>

<p>3. V př&iacute;padě ukončen&iacute; smluvn&iacute;ho vztahu nem&aacute; Klient resp. Uživatel pr&aacute;vo na vr&aacute;cen&iacute; ceny za využ&iacute;v&aacute;n&iacute; Služby resp. Informačn&iacute; Služby.</p>

<p>4. V př&iacute;padě ukončen&iacute; smluvn&iacute;ho vztahu m&aacute; Provozovatel povinnost odstranit ve&scaron;ker&eacute; &uacute;daje Klienta resp. Uživatele tak, aby je nebylo možn&eacute; ž&aacute;dn&yacute;m způsobem obnovit a použ&iacute;t či
  zneuž&iacute;t Provozovatelem či jinou třet&iacute; osobou.</p>

<p>5. Provozovatel m&aacute; pr&aacute;vo smlouvu vypovědět k datu doručen&iacute; v&yacute;povědi v př&iacute;padě, že bez sv&eacute; viny ztratil způsobilost k poskytov&aacute;n&iacute; Služby resp. Informačn&iacute; Služby, tj. např&iacute;klad změnou
  pr&aacute;vn&iacute;ch předpisů apod. .</p>

<p>6. V&yacute;pověď může b&yacute;t zasl&aacute;na buď po&scaron;tou, osobně, emailem nebo jin&yacute;m podobn&yacute;m způsobem s podpisem Klienta resp. Uživatele nebo z&aacute;konn&eacute;ho z&aacute;stupce Klienta resp. Uživatele.</p>

<p><br /> &nbsp;
</p>

<p><strong>&sect;12</strong></p>

<p><strong>Ochrana osobn&iacute;ch &uacute;dajů</strong></p>

<ol>
  <li>
    <p>Osobn&iacute; &uacute;daje a citliv&eacute; &uacute;daje. Osobn&iacute;mi &uacute;daji se rozum&iacute; informace o Klientovi resp. Uživatelovi, na z&aacute;kladě kter&yacute;ch lze Klienta resp. Uživatele př&iacute;mo či nepř&iacute;mo identifikovat.
      Citliv&yacute;mi &uacute;daji se rozum&iacute; informace o Klientovi, vypov&iacute;daj&iacute;c&iacute; o n&aacute;rodnostn&iacute;m, rasov&eacute;m nebo etnick&eacute;m původu, politick&yacute;ch postoj&iacute;ch, členstv&iacute; v odborov&yacute;ch
      organizac&iacute;ch, n&aacute;boženstv&iacute; a filozofick&eacute;m přesvědčen&iacute;, odsouzen&iacute; za trestn&yacute; čin, zdravotn&iacute;m stavu a sexu&aacute;ln&iacute;m životě subjektu &uacute;dajů a genetick&yacute; &uacute;daj subjektu
      &uacute;dajů, nebo jak&yacute;koli biometrick&yacute; &uacute;daj, kter&yacute; umožňuje př&iacute;mou identifikaci nebo autentizaci subjektu &uacute;dajů. 2.</p>
  </li>
  <li>
    <p>Rozsah osobn&iacute;ch &uacute;dajů: V souladu s &sect;2 t&eacute;to smlouvy vyžaduje Provozovatel v r&aacute;mci registrace povinn&eacute; osobn&iacute; &uacute;daje. Klient resp. Uživatel může dobrovolně dle sv&eacute;ho uv&aacute;žen&iacute; sdělit
      Provozovateli dal&scaron;&iacute; nepovinn&eacute; &uacute;daje.</p>
  </li>
  <li>
    <p>Rozsah citliv&yacute;ch &uacute;dajů: Poskytnut&iacute; jak&yacute;chkoli citliv&yacute;ch &uacute;dajů nen&iacute; povinn&eacute;. Provozovatel Klienta ž&aacute;d&aacute; pouze o &uacute;daje, kter&eacute; souvis&iacute; nebo mohou souviset s podstatou
      vyž&aacute;dan&eacute; Služby. Pokud Klient poskytne v r&aacute;mci Služby jak&eacute;koli citliv&eacute; &uacute;daje, čin&iacute; tak dobrovolně na z&aacute;kladě sv&eacute;ho uv&aacute;žen&iacute;.</p>
  </li>
  <li>
    <p>Ochrana osobn&iacute;ch a citliv&yacute;ch &uacute;dajů: Provozovatel shromažďuje a uchov&aacute;v&aacute; Klientem resp. Uživatelem zadan&eacute; osobn&iacute; a citliv&eacute; &uacute;daje prostřednictv&iacute;m elektronick&yacute;ch nosičů informac&iacute;
      v zabezpečen&eacute; datab&aacute;zi a někter&eacute; vybran&eacute; &uacute;daje v listinn&eacute; podobě. Provozovatel chr&aacute;n&iacute; osobn&iacute; &uacute;daje v maxim&aacute;ln&iacute; možn&eacute; m&iacute;ře pomoc&iacute; modern&iacute;ch
      technologi&iacute;, kter&eacute; odpov&iacute;daj&iacute; stupni technick&eacute;ho rozvoje. Provozovatel prohla&scaron;uje, že podnikl ve&scaron;ker&aacute; možn&aacute;, tj. t.č. mu zn&aacute;m&aacute; opatřen&iacute;, aby tyto &uacute;daje zabezpečil
      před neopr&aacute;vněn&yacute;mi z&aacute;sahy třet&iacute;ch osob.</p>
  </li>
  <li>
    <p>Provozovatel nenese odpovědnost za př&iacute;padn&eacute; neopr&aacute;vněn&eacute; z&aacute;sahy třet&iacute;ch osob, v důsledku nichž tyto osoby neopr&aacute;vněně z&iacute;skaj&iacute; př&iacute;stup k osobn&iacute;m &uacute;dajům Klienta resp.
      Uživatele a/nebo k jeho Klientsk&eacute;mu resp. Uživatelsk&eacute;mu &uacute;čtu a/nebo k př&iacute;slu&scaron;n&eacute; datab&aacute;zi Provozovatele a tyto &uacute;daje neopr&aacute;vněně použij&iacute;, využij&iacute;, zneužij&iacute; nebo je
      zpř&iacute;stupn&iacute; třet&iacute;m osob&aacute;m, pouze za předpokladu, že prok&aacute;že, že podnikl ve&scaron;ker&aacute; opatřen&iacute; k jejich ochraně dle &sect;12, odst. 4.</p>
  </li>
  <li>
    <p>Omezen&iacute; nakl&aacute;d&aacute;n&iacute; s &uacute;daji. Provozovatel nebude bez předchoz&iacute;ho svolen&iacute; Klienta resp. Uživatele zpracov&aacute;vat, sd&iacute;let, prod&aacute;vat ani použ&iacute;vat &uacute;daje Klienta resp. Uživatele
      z jeho osobn&iacute;ch &uacute;dajů uveden&yacute;ch při registraci způsobem, kter&yacute; by byl v rozporu s touto smlouvou.</p>
  </li>
  <li>
    <p>Zpracov&aacute;n&iacute; osobn&iacute;ch a citliv&yacute;ch &uacute;dajů. Klient resp. Uživatel bere na vědom&iacute; a souhlas&iacute; s t&iacute;m, že Provozovatel je opr&aacute;vněn zpracov&aacute;vat, shromažďovat osobn&iacute; &uacute;daje Klienta
      resp. Uživatele za &uacute;čelem poskytov&aacute;n&iacute; Služby resp. Informačn&iacute; Služby podle t&eacute;to smlouvy a pro statistick&eacute; &uacute;čely.</p>
  </li>
  <li>
    <p>Souhlas Klienta resp. Uživatele se zpracov&aacute;n&iacute;m osobn&iacute;ch &uacute;dajů. Uzavřen&iacute;m t&eacute;to smlouvy uděluje Klient resp. Uživatel v souladu se z&aacute;konem č. 101/2000 Sb. o ochraně osobn&iacute;ch &uacute;dajů, v platn&eacute;m
      zněn&iacute; (d&aacute;le jen &bdquo;ZOO&Uacute;&ldquo;) souhlas se zpracov&aacute;n&iacute;m osobn&iacute;ch &uacute;dajů poskytnut&yacute;ch dle t&eacute;to smlouvy a Registrace Provozovateli jako spr&aacute;vci, za &uacute;čelem identifikace
      Klienta resp. Uživatele při už&iacute;v&aacute;n&iacute; Služby resp. Informačn&iacute; Služby a dod&aacute;v&aacute;n&iacute; Služby resp. Informačn&iacute; Služby Klientovi resp. Uživateli.</p>
  </li>
  <li>
    <p>Klient resp. Uživatel uděluje shora uveden&eacute; souhlasy se zpracov&aacute;n&iacute;m osobn&iacute;ch &uacute;dajů po dobu platnosti t&eacute;to smlouvy, neodvol&aacute;-li svůj souhlas dř&iacute;ve. Při ukončen&iacute; platnosti t&eacute;to smlouvy
      je Provozovatel povinen prov&eacute;st likvidaci osobn&iacute;ch &uacute;dajů.</p>
  </li>
  <li>
    <p>Zpracovatel. Provozovatel jako spr&aacute;vce je opr&aacute;vněn pověřit v souladu se ZOO&Uacute; třet&iacute; osobu jako zpracovatele osobn&iacute;ch a citliv&yacute;ch &uacute;dajů.</p>
  </li>
  <li>
    <p>Odvol&aacute;n&iacute; souhlasu. Souhlas Klienta resp. Uživatele se zpracov&aacute;n&iacute;m osobn&iacute;ch &uacute;dajů dle t&eacute;to smlouvy je dobrovoln&yacute;. Klient resp. Uživatel je opr&aacute;vněn kdykoli po Registraci tento souhlas p&iacute;semně
      odvolat na adrese Provozovatele. Po odvol&aacute;n&iacute; souhlasu Provozovatel zajist&iacute;, aby ve&scaron;ker&eacute; &uacute;daje Klienta resp. Uživatele byly z datab&aacute;ze Služby resp. Informačn&iacute; Služby zlikvidov&aacute;ny, a současně
      zajist&iacute;, aby tyto &uacute;daje nebyly d&aacute;le zpracov&aacute;v&aacute;ny, či &scaron;&iacute;řeny za &uacute;čelem dal&scaron;&iacute;ho poskytov&aacute;n&iacute; Služby resp. Informačn&iacute; Služby. V takov&eacute;m př&iacute;padě
      smlouva zanik&aacute;.</p>
  </li>
  <li>
    <p>Př&iacute;stup Klienta k &uacute;dajům. Klient resp. Uživatel m&aacute; od okamžiku Registrace pr&aacute;vo kdykoliv pož&aacute;dat Provozovatele o informaci o zpracov&aacute;v&aacute;n&iacute; sv&yacute;ch osobn&iacute;ch a citliv&yacute;ch &uacute;dajů.
      V takov&eacute;m př&iacute;padě Provozovatel poskytne Klientovi resp. Uživateli informace v rozsahu stanoven&eacute;m ZOO&Uacute;. Pokud se Klient resp. Uživatel domn&iacute;v&aacute;, že Provozovatel zpracov&aacute;v&aacute; jeho osobn&iacute;
      a citliv&eacute; &uacute;daje v rozporu se ZOO&Uacute;, m&aacute; pr&aacute;vo pož&aacute;dat Provozovatele (nebo zpracovatele) o vysvětlen&iacute; nebo požadovat, aby Provozovatel (nebo zpracovatel) odstranil takto vznikl&yacute; stav. Zejm&eacute;na
      se může jednat o blokov&aacute;n&iacute;, proveden&iacute; opravy, doplněn&iacute; nebo likvidaci osobn&iacute;ch a citliv&yacute;ch &uacute;dajů. Klient resp. Uživatel je d&aacute;le opr&aacute;vněn se obr&aacute;tit se sv&yacute;m podnětem na
      &Uacute;řad pro ochranu osobn&iacute;ch &uacute;dajů.</p>
  </li>
  <li>
    <p>Poskytnut&iacute; osobn&iacute;ch a citliv&yacute;ch &uacute;dajů. Klient resp. Uživatel bere na vědom&iacute;, že Provozovatel může b&yacute;t povinen poskytnout osobn&iacute; a citliv&eacute; &uacute;daje na z&aacute;kladě z&aacute;kona nebo ke
      splněn&iacute; sv&eacute; z&aacute;konn&eacute; povinnosti (např. v r&aacute;mci soudn&iacute;ch či spr&aacute;vn&iacute;ch ř&iacute;zen&iacute;).</p>
  </li>
  <li>
    <p>Statistick&aacute; data. Klient resp. Uživatel souhlas&iacute; s anonymn&iacute;m užit&iacute;m a/nebo zveřejněn&iacute;m registračn&iacute;ch a statistick&yacute;ch &uacute;dajů Provozovatelem pro rozvoj poskytovan&eacute; Služby resp. Informačn&iacute;
      Služby. Statistick&eacute; &uacute;daje a jejich sestavy nebudou obsahovat osobn&iacute; ani citliv&eacute; &uacute;daje takov&eacute;ho charakteru, kter&eacute; by mohly na z&aacute;kladě jednoho, či v&iacute;ce těchto &uacute;dajů, př&iacute;mo
      či nepř&iacute;mo identifikovat Klienta resp. Uživatele nebo kter&eacute; by umožnily jak&eacute;koli třet&iacute; osobě Klienta kontaktovat.</p>
  </li>
  <li>
    <p>Provozovatel se zavazuje vyvinout maxim&aacute;ln&iacute; &uacute;sil&iacute;, aby nemohlo doj&iacute;t k neopr&aacute;vněn&eacute;mu nebo nahodil&eacute;mu př&iacute;stupu k &uacute;dajům o Službě resp. Informačn&iacute; Službě, zejm&eacute;na k
      osobn&iacute;m a citliv&yacute;m &uacute;dajům, k jejich ztr&aacute;tě či jin&eacute;mu zneužit&iacute; a z&aacute;roveň se zavazuje, že &uacute;daje Klienta resp. Uživatele neposkytne třet&iacute;m osob&aacute;m. Klient resp. Uživatel bere na vědom&iacute;,
      že &uacute;sil&iacute; vyvinut&eacute; Provozovatelem nemus&iacute; nutně stačit k tomu, aby osobn&iacute; &uacute;daje byly ochr&aacute;něny před ztr&aacute;tou, zcizen&iacute;m či zneužit&iacute;m. Provozovatel se zavazuje, že bude ve&scaron;ker&eacute;
      &uacute;daje Klienta resp. Uživatele dostatečně z&aacute;lohovat, aby 12 v př&iacute;padě ztr&aacute;ty či zcizen&iacute; &uacute;dajů, byla &scaron;koda co nejmen&scaron;&iacute;. Klient resp. Uživatel bere na vědom&iacute;, že v př&iacute;padě
      ztr&aacute;ty či zcizen&iacute; &uacute;dajů, byla &scaron;koda co nejmen&scaron;&iacute;. Klient resp. Uživatel bere na vědom&iacute;, že k neopr&aacute;vněn&eacute;mu př&iacute;stupu k &uacute;dajům o Službě resp. Informačn&iacute; Službě a jeho
      zneužit&iacute; může tak&eacute; doj&iacute;t použit&iacute;m Klientem resp. Uživatelem nevhodn&eacute;ho (nedostatečně siln&eacute;ho) př&iacute;stupov&eacute;ho hesla k webov&eacute; registraci Provozovatele. V př&iacute;padě &uacute;niku dat
      se Provozovatel zavazuje neprodleně o tomto informovat Klienta resp. Uživatele, pokud se o tom Provozovatel dozv&iacute; (telefonicky nebo emailem).</p>
  </li>
</ol>

<p><br /> &nbsp;
</p>

<p><strong>&sect;13</strong></p>

<p><strong>Storno podm&iacute;nky</strong></p>

<p>1. V př&iacute;padě doručen&eacute; omluvy Provozovateli v obdob&iacute; del&scaron;&iacute;m než 24 hodin před rezervovan&yacute;m term&iacute;nem m&aacute; Klient pr&aacute;vo na rezervaci nov&eacute;ho term&iacute;nu v r&aacute;mci doby platnosti jeho
  předplacen&eacute;ho produktu.</p>

<p>2. V př&iacute;padě nedoručen&eacute; omluvy, nebo omluvy v době krat&scaron;&iacute; než 24 hodin před rezervovan&yacute;m term&iacute;nem n&aacute;rok je tato terapie započtena jako absolvovan&aacute;.</p>

<p><strong>&sect;14</strong></p>

<p><strong>Reklamačn&iacute; ř&iacute;zen&iacute;</strong></p>

<ol>
  <li>
    <p>V př&iacute;padě, že Provozovatel neposkytne v&scaron;echny objednan&eacute; a zaplacen&eacute; Služby v pln&eacute;m rozsahu a kvalitě, m&aacute; z&aacute;kazn&iacute;k pr&aacute;vo na reklamaci. Předmět reklamace se nepovažuj&iacute; &scaron;kody,
      kter&eacute; Klientovi vznikly nebo byly zapř&iacute;činěny vlastn&iacute;m zaviněn&iacute;m, nebo nerespektov&aacute;n&iacute;m doporučen&eacute;ho l&eacute;čebn&eacute;ho režimu nebo klidu v době individu&aacute;ln&iacute;ho l&eacute;čebn&eacute;ho
      postupu.</p>
  </li>
  <li>
    <p>Reklamace mus&iacute; b&yacute;t uplatněna osobně, telefonicky nebo mailem ihned po vzniku ud&aacute;losti bez zbytečn&eacute;ho odkladu s uveden&iacute;m důvodů. Na pozděj&scaron;&iacute; reklamace než jeden kalend&aacute;řn&iacute; t&yacute;den
      od vzniku reklamace nemůže b&yacute;t vzhledem k povaze Služeb br&aacute;n zřetel.</p>
  </li>
  <li>
    <p>Reklamace vyřizuje bez zbytečn&eacute;ho odkladu vedouc&iacute; fyzioterapeut, fyzioterapeut pověřen&yacute; zastupov&aacute;n&iacute;m, nebo manažer Provozovatele, a to podle z&aacute;sad dan&yacute;ch česk&yacute;m pr&aacute;vn&iacute;m ř&aacute;dem.</p>
  </li>
  <li>
    <p>K uzn&aacute;n&iacute; reklamace je vyžadov&aacute;na je&scaron;tě v době trv&aacute;n&iacute; reklamovan&yacute;ch obt&iacute;ž&iacute; referenčn&iacute; kontroln&iacute; n&aacute;v&scaron;těva Klienta na pracovi&scaron;ti provozovatele za př&iacute;tomnosti
      vedouc&iacute;ho fyzioterapeuta, nebo z&aacute;stupce provozovatele.</p>
  </li>
  <li>
    <p>Je-li reklamace shled&aacute;na jako opr&aacute;vněn&aacute;, m&aacute; Uživatel pr&aacute;vo na n&aacute;hradu jak reklamovan&eacute; Služby i dosud nevyčerpan&yacute;ch služeb.</p>
  </li>
  <li>
    <p>Pokud Klient z osobn&iacute;ch nebo subjektivn&iacute;ch důvodů nevyužije objednan&eacute; Služby, nevznik&aacute; mu n&aacute;rok na reklamaci</p>
  </li>
</ol>

<p><strong>&sect;15</strong></p>

<p><strong>Obchodn&iacute; sdělen&iacute;</strong></p>

<p>1. Klient t&iacute;mto v souladu se z&aacute;konem č. 480/2004 Sb. o někter&yacute;ch služb&aacute;ch informačn&iacute; společnosti v platn&eacute;m zněn&iacute; souhlas&iacute; s t&iacute;m, že Provozovatel je opr&aacute;vněn zas&iacute;lat Uživateli
  na emailov&eacute; adresy Klienta uveden&eacute; ve vstupn&iacute;m dotazn&iacute;ku pro vy&scaron;etřen&iacute; pohybov&eacute;ho apar&aacute;tu, nebo při on-line registraci (nebo změně &uacute;dajů) obchodn&iacute; sdělen&iacute;, obsahuj&iacute;c&iacute;
  zejm&eacute;na informace o novink&aacute;ch Služeb, 13 v&yacute;hodn&eacute; nab&iacute;dky typu last minute, nebo obohacuj&iacute;c&iacute; a vzděl&aacute;vac&iacute; informace z oblasti medic&iacute;ny pohybov&eacute;ho apar&aacute;tu.</p>

<p><br /> &nbsp;
</p>

<p><strong>&sect;16</strong></p>

<p><strong>Vyloučen&iacute; odpovědnosti &ndash; poskytov&aacute;n&iacute; zdravotnick&eacute; Služby</strong></p>

<ol>
  <li>
    <p>Provozovatel Klientovi neodpov&iacute;d&aacute; za jakoukoli př&iacute;mou či nepř&iacute;mou &uacute;jmu či &scaron;kodu, kter&aacute; Klientovi vznikne v souvislosti s využ&iacute;v&aacute;n&iacute;m zdravotnick&eacute; Služby při poskytnut&iacute;
      nespr&aacute;vn&yacute;ch, nepřesn&yacute;ch či ne&uacute;pln&yacute;ch &uacute;dajů o Klientovi Klientem nebo jeho z&aacute;konn&yacute;m z&aacute;stupcem před stanoven&iacute;m čerp&aacute;n&iacute; individu&aacute;ln&iacute;ho l&eacute;čebn&eacute;ho
      postupu a před samotn&yacute;m zah&aacute;jen&iacute;m čerp&aacute;n&iacute; Služby formou individu&aacute;ln&iacute;ho l&eacute;čebn&eacute;ho postupu. (př&iacute;kladem neposkytnut&iacute; &uacute;dajů může b&yacute;t např&iacute;klad zamlčen&iacute;,
      že v průběhu terapie mezi n&aacute;v&scaron;těvami v r&aacute;mci individu&aacute;ln&iacute;ho l&eacute;čebn&eacute;ho postupu utrpěl Klient nov&yacute; &uacute;raz nebo nerespektoval doporučen&yacute; klid).</p>
  </li>
</ol>

<p><strong>&sect;17</strong></p>

<p><strong>Vyloučen&iacute; odpovědnosti &ndash; poskytov&aacute;n&iacute; Informačn&iacute; Služby</strong></p>

<ol>
  <li>
    <p>Provozovatel Uživateli neodpov&iacute;d&aacute; za jakoukoli př&iacute;mou či nepř&iacute;mou &uacute;jmu či &scaron;kodu, kter&aacute; Uživateli vznikne v souvislosti s použ&iacute;v&aacute;n&iacute;m Informačn&iacute; Služby, obsahu Provozovatele,
      a v př&iacute;padě poru&scaron;en&iacute; povinnost&iacute; ze strany Uživatele, zejm&eacute;na pokud se jedn&aacute; o ochranu hesla a př&iacute;stupov&yacute;ch &uacute;dajů k uživatelsk&eacute;mu &uacute;čtu, a d&aacute;le při poskytnut&iacute;
      nespr&aacute;vn&yacute;ch, nepřesn&yacute;ch či ne&uacute;pln&yacute;ch &uacute;dajů o Uživateli při registraci.</p>
  </li>
</ol>

<p><strong>&sect;18</strong></p>

<p><strong>Z&aacute;věrečn&aacute; ustanoven&iacute;</strong></p>

<p>1. Ve&scaron;ker&aacute; komunikace mezi Provozovatelem a Klientem resp. Uživatelem může b&yacute;t uskutečňov&aacute;na buď osobně, p&iacute;semně, emailem nebo telefonicky na rezervačn&iacute; lince Provozovatele. Komunikace ze strany Provozovatele
  ve vztahu k jednomu či v&iacute;ce Klientům resp. Uživatelům může b&yacute;t Provozovatelem uskutečněna rovněž formou zveřejněn&iacute; určit&eacute;ho sdělen&iacute; prostřednictv&iacute;m internetov&yacute;ch str&aacute;nek Provozovatele. Při použit&iacute;
  způsobu komunikace emailem se m&aacute; za to, že byla zachov&aacute;na p&iacute;semn&aacute; forma.</p>

<p>2. &Uacute;činnost změn Smluvn&iacute;ch podm&iacute;nek: Jak&eacute;koliv změny těchto Smluvn&iacute;ch podm&iacute;nek nab&yacute;vaj&iacute; &uacute;činnosti dnem určen&yacute;m Provozovatelem, av&scaron;ak ve vztahu ke každ&eacute;mu Klientovi resp.
  Uživateli pouze v př&iacute;padě, že Klient resp. Uživatel s takovou změnou projev&iacute; souhlas. Za projeven&iacute; souhlasu ze strany Klienta resp. Uživatele se považuje buď podpis pap&iacute;rov&eacute;ho formul&aacute;ře Klientem v provozovně
  Provozovatele, kliknut&iacute; na př&iacute;slu&scaron;n&eacute; tlač&iacute;tko vyjadřuj&iacute;c&iacute; souhlas se změnou 14 Smluvn&iacute;ch podm&iacute;nek, nebo pokračov&aacute;n&iacute; v použ&iacute;v&aacute;n&iacute; služeb ze strany Uživatele
  i po datu určen&eacute;m Provozovatelem jako datum &uacute;činnosti změny Smluvn&iacute;ch podm&iacute;nek. Pokud Klient resp. Uživatel se změnami nesouhlas&iacute;, je povinen zdržet se už&iacute;v&aacute;n&iacute; Služby resp. Informačn&iacute; Služby
  po datu určen&eacute;m Provozovatelem jako datum &uacute;činnosti změny Smluvn&iacute;ch podm&iacute;nek. Pro vyloučen&iacute; pochybnost&iacute; strany prohla&scaron;uj&iacute;, že Uživatel, kter&yacute; se již v minulosti zaregistroval v r&aacute;mci
  už&iacute;v&aacute;n&iacute; Informačn&iacute; Služby přede dnem &uacute;činnosti těchto Smluvn&iacute;ch podm&iacute;nek a nad&aacute;le na z&aacute;kladě původn&iacute; registrace už&iacute;v&aacute; Informačn&iacute; Službu, st&aacute;v&aacute; se
  bez dal&scaron;&iacute;ho Uživatelem dle těchto nov&yacute;ch Smluvn&iacute;ch podm&iacute;nek a m&aacute; za to, že provedl registraci ve smyslu &sect;10 těchto Smluvn&iacute;ch podm&iacute;nek.</p>

<p>3. Volba pr&aacute;va. Ve&scaron;ker&eacute; pr&aacute;vn&iacute; vztahy vznikaj&iacute;c&iacute; či kter&eacute; v budoucnu vzniknou mezi Provozovatelem na straně jedn&eacute; a Klientem resp. Uživatelem na straně druh&eacute; v souvislosti s poskytov&aacute;n&iacute;m
  Služby resp. Informačn&iacute; Služby se ř&iacute;d&iacute; pr&aacute;vn&iacute;m ř&aacute;dem Česk&eacute; republiky.</p>

<p>4. Prorogačn&iacute; doložka. Ve&scaron;ker&eacute; spory mezi Klientem resp. Uživatelem a Provozovatelem vznikl&eacute; v souvislosti s poskytov&aacute;n&iacute;m Služby resp. Informačn&iacute; Služby na z&aacute;kladě těchto Smluvn&iacute;ch podm&iacute;nek
  budou s konečnou platnost&iacute; ře&scaron;eny v občansk&eacute;m soudn&iacute;m ř&iacute;zen&iacute; obecn&yacute;mi soudy Česk&eacute; republiky s m&iacute;stn&iacute; př&iacute;slu&scaron;nost&iacute; v Praze.</p>

<p>5. Ve&scaron;ker&eacute; pr&aacute;vn&iacute; vztahy vznikl&eacute; v souvislosti se Smlouvou a těmito Smluvn&iacute;mi podm&iacute;nkami se ř&iacute;d&iacute; z&aacute;konem č. 40/1964 Sb., občansk&yacute; z&aacute;kon&iacute;k v platn&eacute;m zněn&iacute;.</p>

<p>6. Tyto podm&iacute;nky jsou vyhotoveny v česk&eacute;m jazyce, česk&aacute; verze je rozhoduj&iacute;c&iacute; i v př&iacute;padě, že bude vyhotoven překlad těchto smluvn&iacute;ch podm&iacute;nek do jin&eacute;ho jazyka.</p>

<p>7. &Uacute;činnost: Toto zněn&iacute; Smluvn&iacute;ch podm&iacute;nek nab&yacute;v&aacute; &uacute;činnosti dnem 1.1. 2016</p>

{% endblock %}
