{% extends "pages/base.html" %}
{% block page_title %}Sportovci{% endblock %}
{% block content %}
  <h1>Sportovci</h1>

  <h2>Fyzioterapie pro sportovce</h2>

  <p>
    Pro <strong>aktivní sportovce</strong> jsou typické <strong>akutní i chronické problémy</strong>. Nejčastěji řešíme při fyzioterapii u sportovců:
  </p>
  <ul>
    <li><strong>akutní příhody</strong> (vymknutý kotník, vyhozené rameno, ...)</li>
    <li><strong>chronické bolesti</strong> (tenisový loket, bolesti třísel, ramen, zad, ...)</li>
    <li>bolesti kolen</li>
    <li><strong>přetrhané vazy</strong> (koleno, kotník, rameno)</li>
    <li>
      <strong>svalové disbalance</strong>
      <ul>
        <li>svaly, které působí proti sobě jsou v nerovnováze (jeden je přetížený x druhý ochablý)</li>
        <li>vznikají nerovnoměrnou zátěží při sportu, po úrazech</li>
      </ul>
    </li>
    <li><strong>rehabilitace po zlomeninách</strong></li>
  </ul>
{% endblock %}

{% block features %}
  {% include "snippets/feature_akutni.html" %}
  {% include "snippets/feature_chronicke.html" %}
  {% include "snippets/feature_deti.html" %}
{% endblock %}
