{% extends "pages/base.html" %}
{% load static %}

{% block page_title %}Naši terapeuti: Michaela Kozáková{% endblock %}

{% block content %}
<h2>Naši terapeuti - náš přístup</h2>
<p>
  Náš přístup je vždy individuální s respektem k Vašemu věku, životnímu stylu, pracovnímu vytížení a volnočasovým aktivitám.
</p>
<h3>Michaela Kozáková</h3>
<ul>
  <li>
    30 let fyzioterapeutické praxe
  </li>
  <li>
    <strong>nadstandardní péče</strong> oproti rehabilitacím v rámci pojištění
  </li>
  <li>
    přizpůsobujeme se časovým možnostem a životnímu rytmu klienta
  </li>
  <li>
    zohledňujeme druh vaší práce a volnočasové aktivity
  </li>
  <li>
    <strong>90 minut práce s jedním klientem</strong>, soustavná péče bez přerušení
  </li>
  <li>
    akutní pacient má vždycky přednost
  </li>
  <li>
    <strong>nevytváříme chronické klienty</strong> - problém je vyřešený <strong>jednou provždy</strong>
  </li>
  <li>
    naučíme vás <strong>cvičení na doma</strong>, dýchání - víte, co děláte a proč to děláte
  </li>
  <li>
    udržujeme si s klienty dlouhodobé dobré vztahy i po ukončení terapie
  </li>
  <li>
    naší prioritou je <strong>odstranění příčiny bolesti</strong>
  </li>
  <li>
    <strong>princip estetická fyzioterapie aneb když se dobře cítíte, dobře vypadáte</strong>
  </li>
  <li>
    jak si přes den zlepšovat náladu pomocí jednoduchých cvičení
  </li>
  <li>
    <strong>tělocvična pro individuální cvičení s terapeutem</strong>
  </li>
</ul>

<h4>Certifikace</h3>
<div class="swiper-container gallery-certs">
  <div class="swiper-wrapper">
    {% with ''|center:9 as range %}
      {% for _ in range %}
      {% include "snippets/swiper.html" with folder="certifikaty" filename=forloop.counter ext="jpg" title="Certifikát"  %}
      {% endfor %}
    {% endwith %}
  </div>
  <div class="swiper-button-prev swiper-button-black gallery-button-prev"></div>
  <div class="swiper-button-next swiper-button-black gallery-button-next"></div>
</div>


<h4>Odstranění chyb ve způsobu, jakým se hýbete, jednou provždy</h4>
<ul>
  <li>
    pohybový vzor je <strong>způsob, jakým se člověk hýbe</strong>
  </li>
  <li>
    utváří se od momentu narození - ukončený prvním krokem, který dítě udělá
  </li>
  <li>
    sami od sebe neodhalíte chyby v pohybových návycích, dokud vás nezačne něco bolet
  </li>
</ul>

<p>
  <i>Vzorec pohybu, který je na začátku špatně, se sám od sebe nespraví!</i>
</p>

<h4>Prodej pomůcek pro domácí cvičení</h4>
<ul>
  <li>
    Theraband - přírodní latex, který funguje jako sval
  </li>
  <li>
    kompenzační pomůcky
  </li>
</ul>

<h4>Přístrojové vybavení Enraf Nonius</h4>
<p>
  Více o přístrojích se dozvíte <a href="http://www.enraf-nonius.com/">zde</a>
</p>


{% endblock %}


{% block features %}
  {% include "snippets/feature_akutni.html" %}
  {% include "snippets/feature_chronicke.html" %}
  {% include "snippets/feature_sport.html" %}
  {% include "snippets/feature_deti.html" %}
{% endblock %}

{% block scripts %}
  <script src="{% static "js/swiper.min.js" %}"></script>
  {{block.super}}
{% endblock %}
