<section id="banner">
    <div class="container">
       <div class="banner-container">
        <div class="swiper-wrapper">
        <div class="swiper-slide banner-swiper-slide">
            <div class="banner__card etheramed">
              <h2>Přijďte vyzkoušet naši VIP terapii! Nyní kineziologický rozbor v ceně!</h2>
              <p>Chcete vědět jak naše VIP terapie probíhá a zažít kompletní péči? Udělali jsme pro Vás nabídku, v rámci devadesátiminutové  VIP terapie proběhne kineziologický rozbor v hodnotě 800kč ZDARMA. </p>
              {% comment %}
               <p>
                <a class="btn btn-primary" href="{% url "terapeuti" %}" role="button">Dozvědět se více</a>
              </p>
              {% endcomment %}
            </div>
          </div>
        <div class="swiper-slide banner-swiper-slide">
            <div class="banner__card etheramed">
              <h2>Fyzioterapie v souvislostech</h2>
              <p>Naše ordinace se specializuje nejen na odstranění bolesti jako prioritního vjemu, ale zejména na jejich funkční příčiny. Bolest je osobní vjem, který vnímáme na té nejvyšší(kortikální) úrovni v mozku. Odstranění bolesti je tudíž prioritní fází terapie. K tomu využíváme profesionální a nejnovější postupy, které fyzioterapie a rehabilitace nabízí.</p>
              <p>
                <a class="btn btn-primary" href="{% url "terapeuti" %}" role="button">Dozvědět se více</a>
              </p>
            </div>
          </div>
          <div class="swiper-slide banner-swiper-slide">
            <div class="banner__card">
              <h2>Zbavte se bolesti! </h2>
              <ul>
                <li>Zjistíme příčinu Vaší bolesti a pracujeme na její nápravě</li>
                <li>Naučíme Vás správnému držení těla</li>
                <li>Společně najdeme Vaše těžiště</li>
              </ul>
              <!-- <p>Umožňuje léčit hluboko uložené léze s nevídanými výsledky, a to absolutně bezpečně. Díky nově patentovaným HILT® pulzům je možné kontrolovat výkon tak, aby bylo možné zvýšit terapeutické dávky a dosahovat vynikajících výsledků.</p> -->
              <p>
                <a class="btn btn-primary" href="{% url "chronicke-bolesti" %}" role="button">Dozvědět se více</a>
              </p>
            </div>
          </div>
          <div class="swiper-slide banner-swiper-slide">
            <div class="banner__card">
              <h2>Endorfiny bez cukrárny</h2>
              <ul>
                <li>nastartujte svoje tělo</li>
                <li>zlepšujte si náladu po celý den pomocí jednoduchých cvičení</li>
                <li>důležité je začít</li>
              </ul>
              <!-- <p>Ultrazvuk (UZ) je akustické vlnění, jehož frekvence leží nad hranicí slyšitelnosti lidského ucha, slyšitelného zvuku, která je cca 20 kHz.</p> -->
              <p>
                <a class="btn btn-primary" href="{% url "terapeuti" %}" role="button">Dozvědět se více</a>
              </p>
            </div>
          </div>
          <div class="swiper-slide banner-swiper-slide">
            <div class="banner__card">
              <h2>Elektroléčba</h2>
              <!-- <p>Fyzioterapie je část komprehensivní rehabilitace, která se zabývá diagnostikou, léčbou a prevencí poruch pohybového systému organismu.</p> -->
              <p>Elektroléčba je část fyzikální léčby, při které je využíván léčebný účinek různých forem elektrické energie.</p>
              <ul>
                <li>podpůrná léčba při bolestech celého těla</li>
                <li>aktivizuje tkáně k samoléčebné aktivitě</li>
                <li>zbavte se bolesti svalů, kloubů, hlavy a migrény</li>
              </ul>
              <p>
                <a class="btn btn-primary" href="{% url "elektrolecba" %}" role="button">Dozvědět se více</a>
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-pagination banner-pagination"></div>
        <div class="swiper-button-next banner-button-next"></div>
        <div class="swiper-button-prev banner-button-prev"></div>
      </div>
    </div>

  </section>
