<section id="contact"><a name="kontakt"></a>
  <div class="container">
    <address>
      <h4>Adresa</h4>
      <strong>Fyzioterapie Ethera-Med s.r.o.</strong><br>
      Slezská 130 Praha 3<br>
      130 00 Vinohrady<br>
      <abbr title="Tel">P:</abbr> (+420) 775 006 977<br>
      Najdete nás také na <a href="https://www.facebook.com/Ethera-Med-sro-1625326017700943">Facebooku</a>
    </address>

    <div id="map">
      <h4>Kudy k nám</h4>
      <div id="map-container">
        <iframe src="///www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.5114436640847!2d14.45976392980948!3d50.07671061042718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b9363486720bb%3A0xa1fbd24aa6654119!2sEthera-med+s.r.o.!5e0!3m2!1scs!2scz!4v1466028387597" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>

    {% block contact-form %}
    {% endblock %}

  </div>
  <div class="container openning-hours">
    <h4>Otevírací doba</h4>
    <p>Po-Čt: 10:30-19:30 <br>
    Pá-Ne: Zavřeno</p>
  </div>
</section>
