{% extends "snippets/contact.html" %}

{% block contact-form %}
  <div class="contact-form">
    <h4>Kontaktní formulář</h4>
    <form role="form" action="/contact-form-ajax" method="post" id="contact-form" class="slider">
      {% csrf_token %}
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" name="name" id="name" placeholder="Vaše Jméno" required>
          <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input type="email" class="form-control" id="email" name="email" placeholder="Váš Email" required  >
          <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
        </div>
      </div>
      <div class="form-group">
        <label for="message">Zpráva</label>
        <div class="input-group">
        <textarea name="message" id="message" class="form-control" rows="5" placeholder="A zpráva pro nás" required></textarea>
        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
      </div>
      <input type="submit" name="submit" id="submit" value="Odeslat" class="btn btn-default">
    </form>

    <div class="postmessage slider closed">Zpráva byla odeslána, děkujeme.</div>
  </div>
{% endblock %}
