<div class="feature deti">
  <div>
    <h4>Děti</h4>
    <div>
      <span>léčba např. plochonoží, skolióz a nácvik správného držení těla</span>
      <a href="{% url "deti" %}" class="btn btn-primary">Více</a>
    </div>
  </div>
</div>
