<div class="feature akutni">
  <div>
    <h4>Akutní bolest</h4>
    <div class="">
      <span>Fraktury, na/u/tržené vazy, blokády páteře, ...</span>
      <a href="{% url "akutni-bolesti" %}" class="btn btn-primary">Více</a>
    </div>
  </div>
</div>
