<div class="feature chronicke">
  <div>
    <h4>Chronické bolesti</h4>
    <div>
      <span>bolesti trvající několik měsíců jako důsledek neřešení akutní fáze</span>
      <a href="{% url "chronicke-bolesti" %}" class="btn btn-primary">Více</a>
    </div>
  </div>
</div>
