<div class="feature sportovci">
  <div>
    <h4>Sportovci</h4>
    <div>
      <span>jak se udržet co nejdéle a bezbolestně aktivní</span>
      <a href="{% url "sport" %}" class="btn btn-primary">Více</a>
    </div>
  </div>
</div>
