<footer>
  <div class="container clearfix">
    <div class="links">
      <h4>O Nás</h4>
      <a href="{% url "terapeuti" %}">Naši terapeuti</a>
      <a href="{% url "cenik" %}">Ceník</a>
      <a href="{% url "obchodni-podminky" %}">Obchodní podmínky</a>
    </div>
    <div class="links">
      <h4>Fyzioterapie</h4>
      <a href="{% url "fyzioterapie" %}">Manuální fyzioterapie</a>
      <a href="{% url "laser" %}">Terapie laserem</a>
      <a href="{% url "elektrolecba" %}">Elektroléčba</a>
    </div>
    <div class="links">
      <h4>Akutní potíže</h4>
      <a href="{% url "akutni-bolesti" %}">Akutní bolesti</a>
      <a href="{% url "chronicke-bolesti" %}">Chronické bolesti</a>
      <a href="{% url "deti" %}">Fyzioterapie pro děti</a>
      <a href="{% url "sport" %}">Sportovní úrazy</a>
    </div>
  </div>
  <div class="container">
    <span>© Ethera-Med s.r.o. 2016</span>
  </div>
</footer>
