{% load static %}
<div id="zazemi">
  <section class="container">
    <h3>Fotogalerie</h3>
    <div class="swiper-container gallery-top">
      <div class="swiper-wrapper">
        {% with ''|center:20 as range %}
          {% for _ in range %}
          {% include "snippets/swiper.html" with folder="gallery" filename=forloop.counter ext="jpg" title="Galerie" %}
          {% endfor %}
        {% endwith %}
      </div>
      <div class="swiper-button-prev swiper-button-white gallery-button-prev"></div>
      <div class="swiper-button-next swiper-button-white gallery-button-next"></div>
   </div>
   <div class="swiper-container gallery-thumbs">
    <div class="swiper-wrapper">
      {% with ''|center:20 as range %}
        {% for _ in range %}
          {% static "img/gallery" as baseUrl %}
          <div class="swiper-slide" style="background-image:url('{{baseUrl}}/{{forloop.counter}}.jpg')"></div>
        {% endfor %}
      {% endwith %}
    </div>
   </div>
  </section>
</section>
