{% load static %}
<header>
  <div class="container">
    <h1 class="logo">
      <a href="/" alt="Fyzioterapie Ethera-Med s.r.o.">
        <img src="{% static "img/logo-fyzio.png" %}" alt="Fyziterapie Logo">
      </a>
    </h1>
    <nav role="navigation">
      <a class="mobile-nav-toggle" href="#">Menu</a>
      <ul id="menu">
        <li>
          <a href="#" class="toggler">Akutní potíže</a>
          <div>
            <ul>
              <li><a href="{% url "akutni-bolesti" %}">Akutní bolesti</a></li>
              <li><a href="{% url "chronicke-bolesti" %}">Chronické bolesti</a></li>
              <li><a href="{% url "sport" %}">Sportovní úrazy</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="#" class="toggler">Fyzioterapie</a>
          <div>
            <ul>
              <li><a class="{% if request.resolver_match.url_name == "fyzioterapie" %}active{% endif %}" href="{% url "fyzioterapie" %}">Manuální fyzioterapie</a></li>
              <li><a class="{% if request.resolver_match.url_name == "laser" %}active{% endif %}" href="{% url "laser" %}">Terapie laserem</a></li>
              <li><a class="{% if request.resolver_match.url_name == "elektrolecba" %}active{% endif %}" href="{% url "elektrolecba" %}">Elektroléčba</a></li>
              <li><a href="{% url "deti" %}">Fyzioterapie pro děti</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="#"  class="toggler">O Nás</a>
          <div>
            <ul>
              <li><a class="{% if request.resolver_match.url_name == "terapeuti" %}active{% endif %}" href="{% url "terapeuti" %}">Naši terapeuti</a></li>
              <li><a class="{% if request.resolver_match.url_name == "cenik" %}active{% endif %}" href="{% url "cenik" %}">Ceník</a></li>
              <li><a href="/#kontakt">Kontakt</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
