{% load static %}
<div class="swiper-slide">
  {% static "img" as baseUrl %}
  <img
    class="swiper-lazy"
    sizes="(min-width: 40em) 80vw, 100vw"
    data-srcset="{{baseUrl}}/{{folder}}/{{filename}}.{{ext}} 375w, {{baseUrl}}/{{folder}}/{{filename}}-medium.{{ext}} 768w, {{baseUrl}}/{{folder}}/{{filename}}-large.{{ext}} 1024w"
    data-src="{{baseUrl}}/{{folder}}/{{filename}}.{{ext}} 375w"
    alt="{{title|default:"Gallery"}} {{filename}}"
  >
  <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
</div>
