{% load static %}
<!DOCTYPE html>
<html lang="cs">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block page_title %}{% endblock %} | Fyzioterapie v souvislostech</title>
  <!--[if IE]>
    <link rel="stylesheet" href="{% static "css/main.css " %}" media="screen" title="no title" charset="utf-8">
  <![endif]-->

  {% block stylesheets %}{% endblock %}
  <link rel="apple-touch-icon" sizes="57x57" href="{% static "img/favicons/apple-icon-57x57.png " %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static "img/favicons/apple-icon-60x60.png " %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/favicons/apple-icon-72x72.png " %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static "img/favicons/apple-icon-76x76.png " %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/favicons/apple-icon-114x114.png " %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static "img/favicons/apple-icon-120x120.png " %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static "img/favicons/apple-icon-144x144.png " %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static "img/favicons/apple-icon-152x152.png " %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/favicons/apple-icon-180x180.png " %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static "img/favicons/android-icon-192x192.png " %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicons/favicon-32x32.png " %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static "img/favicons/favicon-96x96.png " %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicons/favicon-16x16.png " %}">
  <link rel="manifest" href="{% static "img/favicons/manifest.json " %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static "img/favicons//ms-icon-144x144.png " %}">
  <meta name="theme-color" content="#ffffff">
</head>

<body class="{% block bodyclass %}{% endblock %}">


  {% if PRODUCTION %}
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KKS46D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>
    (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        '//www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KKS46D');
  </script>
  <!-- End Google Tag Manager -->
  {% endif %}
    <!--[if !IE]> -->
      <link rel="stylesheet" href="{% static "css/main.css " %}" media="screen" title="no title" charset="utf-8" lazyload>
  <!-- <![endif]-->
  {% include "snippets/header.html" %} {% block page_content %}{% endblock %} {% include "snippets/footer.html" %} {% block scripts %}
  <script src="{% static "js/main.js " %}"></script>
  {% endblock %}
</body>

</html>
