{% extends "base.html" %}{% load static %}
{% block bodyclass %}homepage{% endblock %}
{% block page_content %}
  {% include "snippets/banners.html" %}
  <section>
    <div class="info">
      <h2>Fyzioterapeutická péče</h2>
      <div class="image pain"></div>
      <div class="text">
        <p>
          Pro mnoho z nás jsou nepříjemné pocity způsobené jednostrannou zátěží a stereotypem pohybového aparátu, každodenní součástí našeho života. Můžeme si klást otázku, odkud tyto problémy a těžkosti přicházejí? Vedle vrozených vlivů a dispozic každého z nás musíme odpověď hledat také v odlišné pohybové kultůře člověka.
        </p>
        <p>
          Zkuste si najít v dnešní uspěchané době trochu času a přijít tam, kde Vám nejen budou rozumět, ale také se Vám pokusí pomoci od každodenní bolesti a nepříjemných pocitů.
        </p>
      </div>
    </div>
    <div class="info">
      <h2>Naše péče o Vás je vždy nadstandardní</h2>
      <div class="image nopain"></div>
      <div class="text">
        <p>
          <strong>ZÁKLADEM JE</strong> stanovení odborných terapeutických postupů, které citlivě respektují Váš zdravotní stav a životní styl a to v každém období Vašeho věku.
        </p>
        <p>
          <strong>TERAPIE</strong> a jejich počet je harmonikcy přizpůsoben Vaší individuální potřebě tak, aby došlo k odstranění bolesti a ke zlepšení pohybu ve Vašem každodením životě.
        </p>
        <p>
          <strong>CÍLEM</strong> je pomoci Vám ke komfortnímu pohybu bez bolesti a omezení.
        </p>
      </div>
    </div>
  </section>

  <section class="container">
    {% include "snippets/objednat.html" %}
  </section>
  {% include "snippets/testimonials.html" %}
  <section class="features">
    {% include "snippets/feature_akutni.html" %}
    {% include "snippets/feature_chronicke.html" %}
    {% include "snippets/feature_sport.html" %}
    {% include "snippets/feature_deti.html" %}
  </section>
  {% include "snippets/gallery.html" %}
  {% include "snippets/contact-with-form.html" %}
{% endblock %}


{% block page_title %}Ethera-Med s.r.o.{% endblock %}


{% block scripts %}
  <script src="{% static "js/swiper.min.js" %}"></script>
  {{block.super}}
{% endblock %}
