{% load static %}
<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fyzioterapie v souvislostech</title>
  <link rel="stylesheet" href="{% static "css/main.css" %}" media="screen" title="no title" charset="utf-8">
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" href="http://basehold.it/28"> -->
</head>
<body>
  <div class="page">
    <h1>Barnardova hvězda</h1>
    <h6>Michaela Kozáková</h6>
    <p class="tag">
      26.Března 2016
    </p>
    <p>
      Barnardova hvězda je <a href="#">červeným trpaslíkem</a> spektrální třídy M4, a je příliš slabou hvězdou na to, aby ji bylo možno pozorovat bez dalekohledu. Její zdánlivá hvězdná velikost je 9,54 mag.[1] Pro srovnání, nejjasnější hvězda oblohy Sirius má jasnost -1,5 mag,[8] nejslabší hvězda pozorovatelná pouhým okem má jasnost 6 mag, a tak magnituda 9,54 je pouze 1/27 jasnosti nejslabší hvězdy pozorovatelné pouhým okem za dobrých světelných podmínek.
    </p>
    <button class="btn btn-default"> Default</button>
    <button class="btn btn-primary"> Primary</button>
    <p>
      Stáří Barnardovy hvězdy se udává mezi 7 až 12 miliardami let, je výrazně starší hvězdou než Slunce, a pravděpodobně patří mezi nejstarší hvězdy v naší galaxii.[6] Hvězda již ztratila velké množství své rotační energie, pravidelné mírné změny v její jasnosti naznačují, že se otočí kolem své osy pouze jednou za 130 dnů, Slunce má dobu rotace 25 dní.[7] Vzhledem k jejímu věku se předpokládalo, že hvězda je málo aktivní. Nicméně v roce 1998 u ní astronomové pozorovali intenzivní hvězdné erupce, které překvapivě ukázaly, že Barnardova hvězda je eruptivní proměnnou hvězdou.[9] Jako proměnná hvězda má označení V2500 Ophiuchi. V roce 2003 byly u Barnardovy hvězdy zjištěny první změny v radiální rychlosti hvězdy způsobené jejím pohybem. Další proměnlivost radiální rychlosti Barnardovy hvězdy byla přičítána jejím hvězdným aktivitám.[10]
    </p>

    

    {% include "snippets/feature_akutni.html" %}
    {% include "snippets/feature_chronicke.html" %}
    {% include "snippets/feature_sport.html" %}
    {% include "snippets/feature_deti.html" %}

    <p>
      Vlastní pohyb Barnardovy hvězdy po obloze je 10,4 obloukových sekund ročně, její vlastní boční pohyb odpovídá rychlosti 90 km/s. Za lidský život se Barnardova hvězda na pozemské obloze přemístí o čtvrtinu úhlového průměru Měsíce.[11]
    </p>
    <h2>Hledání planet</h2>
    <p>
      Radiální rychlost Barnardovy hvězdy vůči Slunci je možné určit z jejího modrého posunu. V katalogu SIMBAD je uvedena rychlost 106,8 km/s, která odkazuje na starší měření před rokem 1967, 110,8 km/s v katalogu ARICNS odkazují na novější měření. Z těchto měření v kombinaci s vlastním pohybem hvězdy vychází skutečná rychlost hvězdy vzhledem ke Slunci jako 139,7 nebo 142,7 km/s.[A 2] Barnardova hvězda bude nejblíže Slunci okolo roku 11 700, kdy se k němu přiblíží na 3,7 světelných let.[12] Nicméně ani v této době nebude nejbližší hvězdou Slunci, protože se ke Slunci více přiblíží Proxima Centauri.[12] Barnardova hvězda i v této době bude příliš slabá na to, aby byla pozorovatelná pouhým okem, její zdánlivá hvězdná velikost bude 8,5 mag. Poté se začne vzdalovat od Slunce.[A 3]
    </p>
    <p>
      U červených trpaslíků, jako je Barnardova hvězda, se poruchy pohybu snadněji studují než u větších hvězd, protože díky jejich nižší hmotnosti jsou poruchy pohybu hvězdy výraznější.[23] Gatewood tak byl schopen v článku[24] z roku 1995 prokázat, že u Barnardovy hvězdy nemohou být planety desetkrát hmotnější než Jupiter (dolní hranice hmotnosti hnědých trpaslíků).[20] V roce 1999 měření Hubblova dalekohledu vyloučila planety 0,8krát hmotnější než Jupiter s oběžnou dobou kratší než 1000 dní.[2] Dále Kuerster zjistil v roce 2003, že v obyvatelné zóně kolem Barnardovy hvězdy nejsou možné planety 7,5krát hmotnější než Země, nebo s hmotností 3,1krát větší než Neptun.[10]
    </p>
    <h3>Současný pohled</h3>
    <p>
      Barnardova hvězda má přibližně 17 procent hmotnosti Slunce, její poloměr je 15 až 20 procent poloměru Slunce.[5] V roce 2003 se její poloměr odhadoval na 0,20±0,008 slunečního poloměru, více než v minulých odhadech, podceňujících její skutečnou velikost.[4] Barnardova hvězda je zhruba 180krát hmotnější než Jupiter, její poloměr je ale pouze 1,5 až 2,0krát větší, což odpovídá velikosti hnědého trpaslíka. Její efektivní teplota je 3134±102 Kelvinů, a má vizuální světelnost jen 4/10000 sluneční světelnosti, bolometrická světelnost je 34,6/10000 sluneční světelnosti.[4] Barnardova hvězda má tak malou jasnost, že kdyby byla ve stejné vzdálenosti od Země jako Slunce, byla by jen 100krát jasnější než úplněk, což je srovnatelné s jasností Slunce ve vzdálenosti 80 astronomických jednotek.[11]
    </p>
    <ul>
      <li>krátký seznam</li>
      <li>obvykle po rychlém pohybu, rychlou změnou směru pohybu, působením velké síly nebo opakovanou vysokou zátěží (sport)</li>
      <li>fraktury končetin, na/utržení vazivového aparátu nebo praskliny ve svalech </li>
      <li>např. po zvedání něčeho těžkého, pádem, při sportu, ...</li>
    </ul>
    <p>
      Byla navržena kosmická loď s pulsním termojaderným pohonem, který byl založen na stlačení a ohřátí mikrokapslí složených ze směsi deuteria a 3He pomocí svazků elektronů. Měly tak vzniknout mikrojaderné exploze a loď měla za čtyři roky dosáhnout 12 procent rychlosti světla. Hvězdy mělo být dosaženo za 50 let, za dobu jednoho lidského života.[28][30] Spolu s detailním studiem hvězdy a planet mělo být zkoumáno mezihvězdné prostředí a měla být prováděna astrometrická měření.[29]
    </p>



    <h1>Rychlá terapie při akutních problémech</h1>
    <h2>Jak vzniká akutní bolest?</h2>
    <p>
      tj. úraz nebo dlouhodobé přetěžování kloubů a šlach
    </p>

    <h3>Případ ÚRAZ</h3>
    <ul>
      <li>fraktury končetin, na/utržení vazivového aparátu nebo praskliny ve svalech </li>
      <li>např. po zvedání něčeho těžkého, pádem, při sportu, ...</li>
    </ul>

    <h3>Případ dlouhodobé PŘETĚŽOVÁNÍ</h3>
    <ul>
      <li>obvykle po rychlém pohybu, rychlou změnou směru pohybu, působením velké síly nebo opakovanou vysokou zátěží (sport)</li>
    </ul>

    <h3>Případ BLOKÁDY páteře</h3>
    <p>
      funkčních blokád páteře a kloubů (“uskříplý” nerv)
      = nutno odstranit v co nejkratší době
    </p>

    <h2>Co doprovází akutní problém?</h2>
    <p>
    často v oblasti vzniká otok a bolest jako ochrana před ještě větším poškozením (výron kotníku, syndrom bolestivého ramene)
    v oblasti je omezený pohyb, vyšší teplota a otok
    i malý pohyb je velmi bolestivý
    </p>

    <h2>Jak si můžete pomoci sami</h2>
    <p>
      aneb správné zácházení s termikou těla
      jakmile se vám něco takového stane, oblast IHNED zaledujte
      led aplikujte pouze v rámci hodin, rozhodně ne další den, kdy naopak aplikujte teplo
    </p>

    <h2>Co může udělat s akutním problémem fyzioterapeut? </h2>
    <ul>
      <li>
        laser - ultrazvuk - měkké techniky - aplikace horké role
      </li>
      <li>
        lze aplikovat terapii laserem - výsledkem je značné zmírnění otoku a bolestivosti oblasti do několika hodin
      </li>
      <li>
        následně odstranění příčiny bolesti (odstranění funkční blokády páteře, mobilizace páteře a kloubů) a  cvičení na neurofyziologickém podkladě, které pacientovi pomůže a zároveň působí jako prevence, aby se problém neopakoval
      </li>
    </ul>

  </div>
</body>
</html>


{% comment %}
{% block stylesheets %}<link rel="stylesheet" href="http://basehold.it/28">{% endblock %}
{% endcomment %}
